<%= simple_form_for @basica, 
  url: @basica.id.nil? ? (admin_basicas_path(@basica)) : 
  admin_basica_path(@basica), defaults: { input_html: { class: 'span10' } } do |f| %>
    <% atributos_form.each do |atr|  %>
      <% if @basica.class.columns_hash[atr].type == :date then %>
        <%= f.input atr.to_sym,
          :input_html => { "data-behaviour" => "datepicker"}, 
          :as => :string 
        %>
      <% elsif atr == "id_pais" %>
        <%= f.association :pais,
          collection: Pais.habilitados,
          label: "País",
          label_method: :nombre,
          value_method: :id 
        %>
      <% elsif atr == "id_departamento" %>
        <%= f.association :departamento,
          collection: (Departamento.habilitados.where(id_pais: 
                f.object.id_pais)),
          label: "Departamento",
          label_method: lambda {|t| t.nombre + " (" + 
            Pais.find(t.id_pais).nombre + ")"},
          value_method: :id 
        %>
      <% elsif atr == "id_municipio" %>
        <%= f.association :municipio,
          collection: (Municipio.habilitados.where(id_pais: f.object.id_pais, 
                      id_departamento: f.object.id_departamento)),
          label: "Municipio",
          label_method: :nombre,
          value_method: :id %>
      <% elsif atr == "id_tclase" %>
				<%= f.association :tclase,
					collection: (Tclase.habilitados),
          label: "Tipo de Clase",
          label_method: :nombre,
          value_method: :id %>
      <% elsif atr == "id_supracategoria" then %>
        <%= f.association :supracategoria,
          collection: Supracategoria.habilitados,
            label: "Supracategoria",
            label_method: lambda {|t| t.nombre + " (" + 
              Tviolencia.find(t.id_tviolencia).nombre + ")"},
            value_method: :id %>
      <% elsif atr == "id_tviolencia" then %>
        <%= f.association :tviolencia,
          collection: Tviolencia.habilitados,
          label: "Tipo de Violencia",
          label_method: :nombre,
          value_method: :id %>
      <% elsif atr == "id_pconsolidado" then %>
        <%= f.association :pconsolidado,
          collection: Pconsolidad.habilitados,
          label: "Consolidado",
          label_method: :nombre,
          value_method: :id %>
      <% elsif atr == "derecho_id" then %>
        <%= f.association :derecho,
          collection: Derecho.habilitados,
          label_method: :nombre,
          value_method: :id %>
      <% elsif atr == "tipocat" then %>
        <%= f.input :tipocat, collection: [
          ["COLECTIVO", :C], ["INDIVIDUAL", :I], ["OTRO", :O]], 
          include_blank: false %>
      <% else %>
        <%= f.input atr.to_sym %>
      <% end %>
    <% end %>
    <div class="form-actions">
			<%= f.button :submit, (f.object.new_record? ? 'Crear' : 'Actualizar'), 
				:class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        admin_basicas_path(@basica), :class => 'btn' 
      %>
    </div>
<% end %>
