<%- model_class = @basica -%>
<div class="page-header">
  <h1><%=t '.title', :default => 
    model_class.human_attribute_name(model_class.model_name.to_s.demodulize.pluralize) 
  %></h1>
</div>
<% ng = (!genclase.nil? && genclase == 'F') ? 'Nueva' : 'Nuevo' %>
<% if @basica.size > 5 %>
  <%= link_to t('.new', :default => [ng, t("helpers.links.new")]),
    new_admin_basica_path(@basica), :class => 'btn btn-primary' 
  %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- http://blog.crowdint.com/2013/08/22/rails-template-inheritance.html -->
      <% atributos_index.each do |atr| %>
          <th><%= model_class.human_attribute_name(atr) %></th>
      <% end %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @basica.try(:each) do |basica| %>
      <tr>
        <% atributos_index.each do |atr| %>
          <% if atr == "id" then %>
            <td><%= link_to basica[atr], admin_basica_path(basica) %></td>
          <% elsif atr == "id_pais" then %>
            <td><%= Sivel2Gen::Pais.find(basica[atr]).nombre %></td>
          <% elsif atr == "id_departamento" then %>
            <td><%= Sivel2Gen::Departamento.find(basica[atr]).nombre %></td>
          <% elsif atr == "id_municipio" then %>
            <td><%= Sivel2Gen::Municipio.find(basica[atr]).nombre %></td>
          <% elsif atr == "id_tclase" then %>
            <td><%= basica[atr].nil? ?
              "" : Sivel2Gen::Tclase.find(basica[atr]).nombre
              %></td>
          <% elsif atr == "id_supracategoria" then %>
            <td><%= Sivel2Gen::Supracategoria.find(basica[atr]).nombre %></td>
          <% elsif atr == "id_tviolencia" then %>
            <td><%= Sivel2Gen::Tviolencia.find(basica[atr]).nombre %></td>
          <% elsif atr == "id_pconsolidado" then %>
            <td><%= Sivel2Gen::Pconsolidado.find(basica[atr]).nombre %></td>
          <% elsif atr == "derecho_id" then %>
            <td><%= Sivel2Gen::Derecho.find(basica[atr]).nombre if basica[atr] %></td>
          <% elsif atr == "tipocat" then %>
            <td>
              <% h={C: "Colectivo", I: "Individual", O: "Otro"} %>
              <%= h[basica[atr].to_sym]%>
            </td>
          <% else %>
            <td><%= basica[atr] %></td>
          <% end %>
        <% end %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_admin_basica_path(basica), :class => 'btn btn-xs' 
          %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            admin_basica_path(basica),
            :method => :delete,
            :data => { :confirm => 
              t('.confirm', :default => 
                t("helpers.links.confirm", 
                  :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' 
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @basica, { param_name: :pagina }  %>
<%= link_to t('.new', :default => [ng, t("helpers.links.new")]),
  new_admin_basica_path(@basica),
  :class => 'btn btn-primary' 
%>
