<%- model_class = @basica.class -%>
<div class="page-header">
  <h1><%=t '.title', 
    :default => model_class.human_attribute_name(model_class.model_name.to_s.demodulize) 
    %></h1>
</div>

<dl class="dl-horizontal">
  <% atributos_index.each do |atr|  %>
    <% if !@basica[atr].nil? && @basica[atr].to_s.length > 0 %>
      <dt><strong><%= model_class.human_attribute_name(atr.to_sym) %>:</strong></dt>
      <% if atr == 'id_pais' then %>
        <dd><%= Sivel2Gen::Pais.find(@basica[atr]).nombre %></dd>
      <% elsif atr == 'id_departamento' then %>
        <dd><%= Sivel2Gen::Departamento.where(
        id: @basica[atr], id_pais: @basica['id_pais']).first.nombre 
        %></dd>
      <% elsif atr == 'id_municipio' then %>
        <dd><%= Sivel2Gen::Municipio.find(@basica[atr]).nombre %></dd>
      <% elsif atr == "id_tclase" then %>
        <dd><%= Sivel2Gen::Tclase.find(@basica[atr]).nombre%></dd>
      <% elsif atr == "id_supracategoria" then %>
        <dd><%= Sivel2Gen::Supracategoria.find(@basica[atr]).nombre%></dd>
      <% elsif atr == "id_tviolencia" then %>
        <dd><%= Sivel2Gen::Tviolencia.find(@basica[atr]).nombre%></dd>
      <% elsif atr == "id_pconsolidado" then %>
        <dd><%= Sivel2Gen::Pconsolidado.find(@basica[atr]).nombre%></dd>
      <% elsif atr == "derecho_id" then %>
        <dd><%= Sivel2Sjr::Derecho.find(@basica[atr]).nombre%></dd>
      <% elsif atr == "tipocat" then %>
        <dd>
        <% h={C: "Colectivo", I: "Individual", O: "Otro"} %>
        <%= h[@basica[atr].to_sym]%>
        </dd>
      <% else %>
        <dd><%= @basica[atr] %></dd>
      <% end%>
    <% end %>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_basicas_path(@basica), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_basica_path(@basica), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_basica_path(@basica),
              :method => 'delete',
              :data => { :confirm => 
                t('.confirm', :default => 
                    t("helpers.links.confirm", 
                      :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
