<%= turbo_frame_tag "caso_solicitud_#{f.index}", class: 'div-tabla-fila nested-fields' do %>
  <% if f.object.solicitud.nil? %>
    <% f.object.solicitud = Msip::Solicitud.new %>
  <% end %>
  <%= f.simple_fields_for :solicitud do |sol| %>
    <% if sol.object.usuario == current_usuario || current_usuario.rol == 1 || sol.object.usuario.nil? %>
      <% autorizado = true %>
    <% else %>
      <% autorizado = false %>
    <% end %>
    <div class="div-tabla-celda">
      <%= sol.association :usuario,
        collection: Usuario.habilitados,
        label_method: :nusuario,
        value_method: :id,
        readonly: true,
        selected:  sol.object.usuario_id || current_usuario.id,
        wrapper_html: {style: "width: 12em"},
        label: false,
        input_html: {
          class: 'deshabilitado'
        } %>
    </div>
    <div class="div-tabla-celda">
      <%= sol.input :fecha_localizada, 
        label: false,
        :input_html => { 
          "data-behaviour" => "datepicker", 
          value: Msip::FormatoFechaHelper.fecha_estandar_local(Date.today), 
          class: 'deshabilitado'},
          :as => :string %>
    </div>
    <div class="div-tabla-celda">
      <% if autorizado %>
        <%= sol.input :solicitud,
          as: :text,
          label: false,
          :input_html => { 
            rows: 3
          } %>
      <% else %>
        <%= sol.input :solicitud,
          label: false,
          :input_html => { class: 'deshabilitado'} %>
      <% end %>
    </div>
    <div class="div-tabla-celda">
      <% if autorizado %>
        <%= sol.association :estadosol,
          collection: Msip::Estadosol.habilitados,
          label_method: :nombre,
          value_method: :id,
          wrapper_html: {style: "width: 8em"},
          label: false %>
      <% else %>
        <%= sol.association :estadosol,
          collection: Msip::Estadosol.habilitados,
          label_method: :nombre,
          value_method: :id,
          wrapper_html: {style: "width: 8em"},
          label: false,
          input_html: { class: 'deshabilitado'} %>
      <% end %>
    </div> 
    <div class="div-tabla-celda">
      <% clasesol = 'chosen-select' %>
      <% if !autorizado %>
        <% clasesol << ' deshabilitado' %>
      <% end %>
      <%= sol.association :usuarionotificar,
        collection: Usuario.habilitados,
        label_method: :nusuario,
        value_method: :id,
        wrapper_html: {style: "width: 8em"},
        label: false,
        input_html: {
          class: clasesol,
          disabled: !autorizado
        } %>
      <%= sol.input :id, as: :hidden %>
    </div>
    <% if sol.object.usuario == current_usuario || sol.object.usuario.nil? || current_usuario.rol == 1 %>
      <div class="div-tabla-celda">
        <%= f.submit "Eliminar", 
          formaction: eliminar_caso_solicitud_path(
            id: f.object.id, index: f.index),
            formmethod: :delete, 
            formnovalidate: true, 
            class: 'btn btn-sm btn-danger',
            data: { 
              turbo_frame: "caso_solicitud_#{f.index}",
              disable_with: false
            } %>
      </div>
    <% end %>
  <% end %>
<% end %>
