<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <%= simple_form_for @lugarpreliminar, :html => { :class => 'form-horizontal' } do |f| %>
    <div data-role="content" class="form-inputs">
      <h3><center>FORMATO DE REGISTRO DE INFORMACIÓN PRELIMINAR DE PRESUNTOS LUGARES DE DISPOSICIÓN IRREGULAR DE CADÁVERES</center></h3>
    </div>
    
    <div class="multi-collapse">
      <a data-toggle="collapse" href='#basicospreliminar'>
        <h5>DATOS BÁSICOS</h5>
      </a>
      <div class="collapse multi-collapse" id="basicospreliminar">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :fecha, 
              :input_html => { "data-behaviour" => "datepicker" },
              :as => :string %>
          </div>
          <div class="col-md-6">
            <%= f.input :codigositio %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :nombreusuario,
                input_html: {
                  value: f.object.nombreusuario ? f.object.nombreusuario : current_usuario.nombre
                }
            %> 
          </div>
          <div class="col-md-6">
            <%= f.input :organizacion %>
          </div>
        </div>
      </div>
      <br>
      <a data-toggle="collapse" href='#ubicacionpreliminar'>
        <h5>UBICACIÓN GEOGRÁFICA</h5>
      </a>
      <div class="collapse multi-collapse" id="ubicacionpreliminar">
        <div class="row">
          <div class="col-md-6">
             <%= render partial: 'campo_ubicacionpre', 
                   locals: {f: f, con_label: false} %>
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
      <br>

      <a data-toggle="collapse" href='#aportantepreliminar'>
        <h5>DATOS DEL APORTANTE</h5>
      </a>
      <div class="collapse multi-collapse" id="aportantepreliminar">
        <div class="row">
          <%= f.simple_fields_for :persona do |p| %>
            <%= render partial: 'sip/personas/persona_campos', 
              locals: {f: p}  %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="form-actions" style="text-align: center">
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
        sivel2_gen.lugarespreliminares_path, class: 'btn' 
      %>
    </div> <!-- form-action -->
  <% end %>
<% end %>
