
<div class="panel-group" id="acordeonlc">
  <div class="panel panel-default" id="panellc">
    <div class="panel-heading">
      <div class="panel-title">
        <a data-toggle="collapse" data-target="#colapsalc-<%= f.object.id %>" href="#colapsalc">
          Familiares (Ingrese aquí familiares de esta víctima)
        </a>
      </div> <!-- panel-title -->
    </div> <!-- panel-heading -->


    <div id="colapsalc-<%= f.object.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-body table-responsive" style="overflow-x:scroll;">
          <table class="table table-bordered table-sm ">
            <thead class="thead-light">
              <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th width='6em'>Tipo Id.</th>
                <th>Número .Id</th>
                <th>Parentesco</th>
              </tr>
            </thead>
            <tbody id="persona_familiares-<%= f.object.id %>">
              <%= f.simple_fields_for :persona_trelacion1 do |pt| %>
                <%= render 'sip/personas/persona_familiar_campos', f: pt %>
                <% if pt.object.personauno.nil? %>
                  <% pt.object.personauno = f.object.persona %>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <div class="links">
            <%= link_to_add_association 'Añadir Familiar', f, 
              :persona_trelacion1,
              :"data-association-insertion-node" => "tbody#persona_familiares-#{f.object.id}", 
              :"data-association-insertion-method" => "append", 
              partial: 'sip/personas/persona_familiar_campos',
              :class => 'btn-primary'
            %>
          </div>

        </div> <!-- panel-body table-responsive-->
      </div> <!-- panel-body -->
    </div> <!-- colapsalc -->
  </div> <!-- panellc -->
</div> <!-- acordeonlc -->

