<div class="accordion" id="acordeonlc-<%= f.object.id %>">
  <%= item_acordeon_bs(
    'acordeonlc', "colapsalc-#{f.object.id}", 
    'Familiares (Ingrese aquí familiares de esta víctima)', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
    }) do %>
    <table class="table table-bordered table-sm tabla_familiares ">
      <thead class="thead-light">
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Sexo</th>
          <th width='6em'>Tipo Id.</th>
          <th>Número .Id</th>
          <th>Parentesco</th>
        </tr>
      </thead>
      <tbody id="persona_familiares_<%= f.object.id %>">
        <%= f.simple_fields_for :persona_trelacion1 do |pt| %>
          <%= render 'sip/personas/persona_familiar_campos', f: pt %>
        <% end %>
      </tbody>
    </table>
    <div class="links">
      <%= link_to_add_association 'Añadir Familiar', f, 
        :persona_trelacion1,
        :"data-association-insertion-node" => "tbody#persona_familiares_#{f.object.id}", 
        :"data-association-insertion-method" => "append", 
        partial: 'sip/personas/persona_familiar_campos',
        :class => 'btn-primary'
      %>
    </div>
  <% end %>
</div> <!-- accordion -->
