<% return if !f.object %>
<tr class='nested-fileds'>
    <% if f.object.personados.nil? %>
      <% f.object.personados = Sip::Persona.new %>
    <% end %>
    <%= f.simple_fields_for :personados do |p| %>
      <td>
        <%= p.input :nombres,
          value_method: lambda {|t| '' if t.nombres == 'N'},
          label: false %>
      </td>
      <td>
        <%= p.input :apellidos, label: false %>
      </td>
      <td>
        <%= p.input :sexo, 
          collection: ::Sip::Persona::OPCIONES_SEXO,
          include_blank: false,
          label: false %>
      </td>
      <td>
        <%= p.input :tdocumento_id,
          collection: Sip::Tdocumento.habilitados,
          label_method: :sigla,
          value_method: :id ,
          label: false,
          input_html: { style: 'width: 5em' }
        %>
      </td>
      <td>
        <%= p.input :id, as: :hidden %>
        <% ph = 'N'
        ac = {'data-autocompleta' => 'no',
               style: 'width: 9em' }
        if (!p.object.numerodocumento || p.object.numerodocumento == 'N' || p.object.numerodocumento == '')
          ph = 'Buscar'
          ac = { style: 'width: 9em' }
        end %>
        <%= p.input :numerodocumento, placeholder: ph, 
          input_html: ac,
          label: false %>
      </td>
      <td>
        <%= f.input :id_trelacion, 
          collection: Sip::Trelacion.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false %>
      </td>
    <% end %>
      <td>
    <%= link_to_remove_association(
      "Eliminar", f, 
      {:class => 'btn-danger', :'data-existing' => 'true'}) %> 
      </td>
</tr>
