<%= item_acordeon_bs(
  divacordeon, 'colcategorias2', 'Categorías', false) do %> 

  <div class='row' style='text-align: right'>
    <div class="offset-sm-0 col-sm-3">
      <%= f.input :tviolencia_id,
        collection: Sivel2Gen::Tviolencia.habilitados,
        label_method: :nombre,
        value_method: :id,
        label: false,
        include_blank: '-- Violencia',
        input_html: { "data-contarautomatico" => "" }
      %>
    </div>
    <div class="col-sm-3">
      <%= f.input :excluircaterep, 
        as: :boolean, 
        boolean_style: :nested,
        label: false,
        inline_label: 'Sin repetidas',
        input_html: { 'data-contarautomatico' => '' }
      %> 
    </div>
    <div class="col-sm-6">
      <%= render partial: 'msip/controles/filtro_tan/botones_radio',
        locals: { f: f, atr: :mostrar_cats }%>
    </div>
  </div> <!-- row -->
  <div class='row'>
    <% col_en_grupos = Sivel2Gen::Categoria.habilitados.group_by { |c| 
      c.supracategoria.tviolencia_id } %>
    <% col_ids = Sivel2Gen::Categoria.habilitados.pluck(:id) %>
    <%= render partial: 'msip/controles/filtro_tan/cuadro_de_seleccion',
      locals: { 
        f: f, atr: :categoria, 
        como: :grouped_select,
        col_en_grupos: col_en_grupos,
        col_ids: col_ids,
        metodo_etiqueta_agrupamiento: lambda { |ca| 
          Sivel2Gen::Tviolencia.find(ca[0]).nombre
        },
        metodo_grupo: :last,
        metodo_valor: :id,
        metodo_etiqueta: lambda { |cat| 
          Sivel2Gen::Supracategoria.find(cat.supracategoria_id.to_i).
            tviolencia_id + cat.id.to_s + ' ' + cat.nombre 
        }
      }%>
  </div> <!-- row -->
<% end %>
