<% return if !f.object %>
<% if Rails.configuration.x.msip_docid_obligatorio === true %>
  <% cont = "msip--sindocaut" %>
<% end %>
<%= turbo_frame_tag "familiar_#{f.index}" do %>
  <% if f.object.personados.nil? %>
    <% f.object.personados = Msip::Persona.new %>
  <% end %>
  <%= f.input :id, as: :hidden %>
  <%= f.simple_fields_for :personados do |p| %>
    <div class="row campos_personados" data-controller='<%= cont %>'>
      <div class="col">
        <%= p.input :id, as: :hidden,
          input_html: {"data-msip--sindocaut-target": "id"} %>
        <% ph = 'N' %>
        <% ac = {
          'data-autocompleta' => 'no',
          style: 'width: 9em' } %>
        <% if (!p.object.nombres || p.object.nombres == 'N' || 
            p.object.nombres == '') %>
          <% ph = 'Buscar' %>
          <% ac = {
            list: "fuente-familiares",
            style: 'width: 9em' } %>
        <% end %>

        <%= p.input :nombres, placeholder: ph,
          value_method: lambda {|t| '' if t.nombres == 'N'},
          input_html: ac,
          label: false %>
      </div>
      <div class="col">
        <%= p.input :apellidos, label: false %>
      </div>
      <div class="col">
        <%= p.input :sexo,
          collection: Msip::Persona::sexo_opciones,
          include_blank: false,
          label: false %>
      </div>
      <div class="col">
        <%= p.input :tdocumento_id,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Msip::Tdocumento, p, :tdocumento_id
          ),
          label_method: :sigla,
          value_method: :id ,
          label: false,
          input_html: {
            style: 'width: 5em',
            'data-action': "change->msip--sindocaut#cambia_tdocumento"
          }
        %>
      </div>
      <div class="col">
        <%= p.input :numerodocumento,
          label: false,
          input_html: {
            title: "Si el tipo de documento es cédula de ciudadania "\
            "teclee solo digitos",
            "data-toggle": "tooltip",
            "data-msip--sindocaut-target": "numerodocumento"
          } %>
      </div>
      <div class="col">
        <%= f.input :trelacion_id,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Msip::Trelacion, f, :trelacion_id
          ),
          label_method: :nombre,
          value_method: :id,
          label: false %>
      </div>
      <div class="col">
        <%= p.submit "Eliminar", 
          formaction: sivel2_gen.eliminar_familiar_path(
            id: f.object.id, index: f.index
          ),
          formmethod: :delete, 
          formnovalidate: true, 
          class: 'btn btn-sm btn-danger',
          data: { 
            turbo_frame: "familiar_#{f.index}",
            disable_with: false
          } %>
      </div>
    </div>
  <% end %>
<% end %>
