<% if !defined?(nombre_fuente) %>
  <% nombre_fuente = "fuente-personas" %>
<% end %>
<% if !defined?(nombre_fuente_familiares) %>
  <% nombre_fuente_familiares = "fuente-familiares" %>
<% end %>
<% cont = "" %>
<% if Rails.configuration.x.msip_docid_obligatorio === true %>
  <% cont = "msip--sindocaut" %>
<% end %>
<div class='campos_persona' data-controller="<%= cont %>">
    <%= f.input :id, as: :hidden,
      input_html: {"data-msip--sindocaut-target": "id"} %>

    <div class="row">
      <div class="col-md-6">
        <%= render partial: 'msip/personas/campo_nombres',
          locals: {f: f, nombre_fuente: nombre_fuente} %>
      </div>
      <div class="col-md-6">
        <%= render partial: 'msip/personas/campo_apellidos',
          locals: {f: f, nombre_fuente: nombre_fuente} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= render partial: 'msip/personas/campo_tdocumento_nobusca',
          locals: {f: f} %>
      </div>
      <div class="col-md-6">
        <%= render partial: 'msip/personas/campo_numerodocumento_nobusca',
          locals: {
            f: f,
            titulo_tooltip: "Si el tipo de documento es cédula de ciudadania "\
            "teclee solo digitos"
          } %>
      </div>
    </div>

    <div class="input string">
      <label class="string control-label">Casos en los que aparece: </label>
      <% r = "" %>
      <% sep = "" %>
      <% v = Sivel2Gen::Victima.where(persona_id: f.object.id).
        order(:persona_id) %>
      <% v.each do |vic| %>
        <% if @caso.id != vic.caso.id %>
          <%= link_to vic.caso.id, sivel2_gen.caso_path(vic.caso),
            target:"_blank" %>
        <% end %>
      <% end %>
    </div>

    <div class="div-edad" data-controller="sivel2-gen--edad">
      <%= render partial: "msip/personas/fila_edad", 
        locals: { f: f, fvictima: fvictima} %>
  
      <% @meses = [
        ["ENERO", 1],
        ["FEBRERO", 2],
        ["MARZO", 3],
        ["ABRIL", 4],
        ["MAYO", 5],
        ["JUNIO", 6],
        ["JULIO", 7],
        ["AGOSTO", 8],
        ["SEPTIEMBRE", 9],
        ["OCTUBRE", 10],
        ["NOVIEMBRE", 11],
        ["DICIEMBRE", 12]] %>
      <% @dias = *(1..31) %>
  
      <div class="row">
        <div class="col-md-6">
          <%= f.input :mesnac,
            collection: @meses,
            input_html:{
              data: { 
                action: "change->sivel2-gen--edad#actualizarEdad",
                "sivel2-gen--edad-target": "mesnac"
              }
            }
          %>
        </div>
        <div class="col-md-6">
          <%= f.input :dianac, 
            collection: @dias, 
            input_html:{
              data: { 
                action: "change->sivel2-gen--edad#actualizarEdad",
                "sivel2-gen--edad-target": "dianac"
              },
            }
          %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= render partial: 'msip/personas/campo_sexo', locals: {f: f} %>
      </div>
      <div class="col-md-6">
        <%= f.association :etnia,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Msip::Etnia, f, :etnia
          ),
          include_blank: false,
          label_method: :nombre,
          value_method: :id %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.association :pais,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Msip::Pais, f, :pais
          ),
          label_method: :nombre,
          value_method: :id %>
      </div>
      <div class="col-md-6">
        <%= f.association :departamento,
          collection: (
            Msip::ModeloHelper.opciones_tabla_basica(
              Msip::Departamento, f, :departamento
            ).where(
              pais_id: f.object.pais_id)
          ),
          label_method: :nombre,
          value_method: :id %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.association :municipio,
          collection: (
            Msip::ModeloHelper.opciones_tabla_basica(
              Msip::Municipio, f, :municipio
            ).where(departamento_id: f.object.departamento_id)
          ),
          label_method: :nombre, value_method: :id %>
      </div>
      <div class="col-md-6">
        <%= f.association :centropoblado,
          collection: (
            Msip::ModeloHelper.opciones_tabla_basica(
              Msip::Centropoblado, f, :centropoblado
            ).where(municipio_id: f.object.municipio_id)
          ),
          label_method: :nombre,
          value_method: :id %>
      </div>
    </div>
    <% if params[:index] == nil %>
      <% ivix = index_vic %>
    <% else %>
      <% ivix = params[:index] %>
    <% end %>
    <%= render partial: 'msip/personas/familiar',
      locals: {
        f: f, 
        index_vic: ivix, 
        nombre_fuente_familiares: nombre_fuente_familiares
      } %>
</div>
