<%- model_class = Sivel2Gen::Caso %>
<%= simple_form_for @caso, 
  url: sivel2_gen.casos_path(@caso).sub(/\./,"/"),
  :html => { :class => 'form-horizontal' } do |c| %>
  <div class='campos-persona-con-victima-id'>
    <%= c.simple_fields_for :victima, @victima, child_index: params[:index] do |v| %>
      <%= v.input :id, as: :hidden, value: @victima.id.to_s %>
      <%= v.simple_fields_for :persona do |p| %>
        <% s = render partial: 'msip/personas/persona_campos', 
            locals: { f: p, fvictima: v }  %>
        <%= s.html_safe %>
      <% end %>
    <% end %>
  </div> <!-- campos-victima -->
<% end %>
