<% @validaciones.try(:each) do |tabla| %>
  <h3><%= CGI.escapeHTML(tabla[:titulo]) %>: <%= tabla[:cuerpo].count %></h3>
  <% if tabla[:cuerpo].count > 0 %>
    <% filas = 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <% tabla[:encabezado].try(:each) do |enc| %>
            <th><%= CGI.escapeHTML(enc) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% tabla[:cuerpo].try(:each) do |fila| %>
          <tr>
            <% i=0; fila.try(:each) do |campo| %>
              <td>
                <% if i == 0 && tabla[:encabezado][i] == 'Código' %>
                  <%= link_to(
                    campo[1].to_i, 
                    sivel2_gen.edit_caso_path(campo[1].to_i)) if campo[1] %>
                <% elsif campo[0] == 'caso_ids' %>
                  <% campo[1].split(',').each do |cid| %>
                    <%= link_to(
                      cid.to_i, 
                      sivel2_gen.edit_caso_path(cid.to_i)) %>
                  <% end %>
                <% else %>
                  <%= CGI.escapeHTML(campo[1].to_s) if campo[1] %>
                <% end %>
                <% i += 1 %>
              </td>
            <% end %>
          </tr>
          <% filas += 1 %>
          <% if filas > 5000 %>
            <% break %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% if filas < tabla[:cuerpo].count %>
      <p>... otros <%= tabla[:cuerpo].count - filas %> registros.</p>
    <% end %>
  <% end %>
<% end %>



