<% @validaciones.try(:each) do |tabla| %>
  <h3><%= CGI.escapeHTML(tabla[:titulo]) %>: <%= tabla[:cuerpo].count %></h3>
  <% if tabla[:cuerpo].count > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <% tabla[:encabezado].try(:each) do |enc| %>
            <th><%= CGI.escapeHTML(enc) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% tabla[:cuerpo].try(:each) do |fila| %>
          <tr>
            <% i=0; fila.try(:each) do |campo| %>
              <td>
                <% if i == 0 && tabla[:encabezado][i] == 'Código' %>
                  <%= link_to(
                    campo[1].to_i, 
                    sivel2_gen.edit_caso_path(campo[1].to_i)) if campo[1] %>
                <% else %>
                  <%= CGI.escapeHTML(campo[1].to_s) if campo[1] %>
                <% end %>
                <% i += 1 %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>



