<div class="page-header">
  <h1><%=t '.title', :default => @titulo_personas %></h1>
</div>

<%= simple_form_for :filtro, 
  { remote: true, 
    url: conteos_personas_path,
    method: "post" } do |f| 
%>
  <div class="container">
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
        Filtrar por:
      </div>
      <div class="offset-sm-0 col-sm-3">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fecha Inicial',
          input_html: {
            "data-behaviour" => "datepicker",
            "autocomplete" => "off",
            "data-contarautomatico-post" => ""
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-3">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fecha Final',
          input_html: {
            "data-behaviour" => "datepicker",
            "autocomplete" => "off",
            "data-contarautomatico-post" => ""
          }
        %>
      </div>
      <%= render partial: 'sivel2_gen/conteos/personas_mitad_filtro', 
        locals: {f: f} 
      %>
    </div>

    <div class="accordion" id='mas-filtros'>
      <%= item_acordeon_bs(
        'mas-filtros', 'mas-filtros2', 'Más Filtros', false) do %>
        <% @opsegun.each do |o| %>
          <% if @filtrosegun[o] %>
            <div class="row filtro-fila">
              <div class="offset-sm-0 col-sm-12 form-inline">
                <% # Idea botones Seleccionar todos, Deseleccionar todos https://jsfiddle.net/esedic/uq9c2m6f/ %>
                <% if params.nil? || params[:filtro].nil? || 
                    params[:filtro][@filtrosegun[o][:nomfiltro]].nil? %>
                  <% if @filtrosegun[o][:coleccion].kind_of?(Array) %>
                    <% sel = @filtrosegun[o][:coleccion].map(&:last) %>
                  <% else %>
                    <% sel = @filtrosegun[o][:coleccion].pluck(:id) %>
                  <% end %>
                <% else %>
                  <% sel = params[:filtro][@filtrosegun[o][:nomfiltro]] %>
                <% end %>
                <%= f.input @filtrosegun[o][:nomfiltro],
                  collection: @filtrosegun[o][:coleccion],
                  label_method: @filtrosegun[o][:metodo_etiqueta],
                  value_method: @filtrosegun[o][:metodo_id],
                  label: o,
                  selected: sel,
                  input_html: {
                    class: 'tom-select',
                    multiple: true,
                    'data-contarautomatico-post' => ''
                  }
                %>
              </div> <!-- col -->
            </div> <!-- row -->
          <% end %> <!-- if @filtrosegun[o] -->
        <% end %> <! -- @opsegun -->
      <% end %> <!-- item_acordeon_bs -->
    </div> <!-- accordion mas-filtro -->

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
        Desagregar por:
      </div>
      <div class="col-sm-3">
        <%= f.input :segun,
          collection: @opsegun,
          label: false,
          include_blank: false,
          input_html: { "data-contarautomatico-post" => "" }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :departamento, 
          as: :boolean, 
          boolean_style: :nested,
          label: false,
          inline_label: 'Departamento',
          input_html: { style: 'margin-left: 15px',
                        'data-contarautomatico-post' => '' }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :municipio, 
          as: :boolean, 
          boolean_style: :nested,
          label: false,
          inline_label: 'Municipio',
          input_html: { 'data-contarautomatico-post' => '' }
        %>
      </div>
    </div>
    <%= render partial: 'sivel2_gen/conteos/personas_resto_formulario', 
      locals: {f: f} %>

    <div class="row filtro-fila">
      <div class="offset-md-5 col-md-2">
        <%= f.button :submit, 'Contar', class: 'btn btn-default',
          'data-turbo' => false %>
      </div>
    </div>
  </div>

<% end %>

<hr>

<div id="resultado">
  <%= render 'sivel2_gen/conteos/personas_tabla' %>
</div> <!-- id: resultado -->


