<div class="page-header">
  <h1><%=t '.title', :default => "Demografía Víctimas" %></h1>
</div>

<div sytle="text-align: right">
  <%= form_tag(conteos_personas_path, method: "get", remote: true) do %>
    Caso entre:
    <%= text_field_tag 'fechaini', @fechaini, maxlength: 10, size: 12, 
      "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %>
    -
    <%= text_field_tag 'fechafin', @fechafin, maxlength: 10, size: 12, 
      "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %>
    <br>
    Según:
    <%= select_tag "segun", 
      options_for_select(
        ["", "ETNIA", "FILIACIÓN", 
         "MES CASO", "ORGANIZACIÓN", "PROFESIÓN", 
         "RANGO DE EDAD", "SECTOR SOCIAL", "SEXO", 
         "VÍNCULO CON EL ESTADO" ]
      ),
      "data-contarautomatico" => ""
    %>
    <br>
    Incluir Ubicación del Caso:
    <%= check_box_tag 'departamento', 1, false, "data-contarautomatico" => "" %>
    Departamento,
    <%= check_box_tag 'municipio', 1, false, "data-contarautomatico" => "" %> 
    Municipio<br>
    <%= submit_tag("Contar") %>
  <% end %>
</div>

<div id="resultado">
  <%= render 'sivel2_gen/conteos/resultado_tabla' %>
</div> <!-- id: resultado -->
