<div class="page-header">
  <h1><%=t '.title', :default => @titulo_personas %></h1>
</div>

<%= simple_form_for :filtro, 
  { remote: true, 
    url: conteos_personas_path,
    method: "get" } do |f| 
%>
  <div class="container">
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-3 col-md-offset-1 col-md-1">
        <%= @titulo_personas_fecha %>
      </div>
      <div class="col-sm-offset-0 col-sm-3">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Inicial',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => ""
          }
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-3">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Final',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => ""
          }
        %>
    </div>
      <%= render partial: 'sivel2_gen/conteos/personas_mitad_filtro', 
        locals: {f: f} 
      %>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-3 col-md-offset-1 col-md-1">
        Desagregar por:
      </div>
      <div class="col-sm-3">
        <%= f.input :segun,
          collection: @opsegun,
          label: false,
          include_blank: false,
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :departamento, 
          as: :boolean, 
          boolean_style: :nested,
          inline_label: 'Departamento',
          input_html: { style: 'margin-left: 15px',
                        'data-contarautomatico' => '' }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :municipio, 
          as: :boolean, 
          boolean_style: :nested,
          inline_label: 'Municipio',
          input_html: { 'data-contarautomatico' => '' }
        %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-md-offset-5 col-md-2">
        <%= f.button :submit, 'Filtrar', class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>

<div id="resultado">
  <%= render 'sivel2_gen/conteos/resultado_tabla' %>
</div> <!-- id: resultado -->
