<div class="page-header">
  <h1><%=t '.title', :default => @titulo_personas %></h1>
</div>

<%= simple_form_for :filtro, 
  { remote: true, 
    url: conteos_personas_path,
    method: "get" } do |f| 
%>
  <div class="container">
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
        Filtrar por:
      </div>
      <div class="offset-sm-0 col-sm-3">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fecha Inicial',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => ""
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-3">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fecha Final',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => ""
          }
        %>
    </div>
      <%= render partial: 'sivel2_gen/conteos/personas_mitad_filtro', 
        locals: {f: f} 
      %>
    </div>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
        Desagregar por:
      </div>
      <div class="col-sm-3">
        <%= f.input :segun,
          collection: @opsegun,
          label: false,
          include_blank: false,
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :departamento, 
          as: :boolean, 
          boolean_style: :nested,
          inline_label: 'Departamento',
          input_html: { style: 'margin-left: 15px',
                        'data-contarautomatico' => '' }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :municipio, 
          as: :boolean, 
          boolean_style: :nested,
          inline_label: 'Municipio',
          input_html: { 'data-contarautomatico' => '' }
        %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-md-5 col-md-2">
        <%= f.button :submit, 'Contar', class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>

<div id="resultado">
  <%= render 'sivel2_gen/conteos/resultado_tabla' %>
</div> <!-- id: resultado -->

<footer>
  <ul>
    <li>En este conteo están víctimas diferentes, cada una de un caso con
        ubicación principal. </li>
    <% csinu = Sivel2Gen::Caso.where(ubicacion_id: nil).count %>
    <% vsinu = Sivel2Gen::Victima.joins(:caso).
    where('sivel2_gen_caso.ubicacion_id IS NULL').count %>
    <% if vsinu > 0 %>
      <li>No se incluyen <%= vsinu %> víctimas de <%= csinu %> casos sin 
        ubicación principal.</li>
    <% end %>
    <% pnvi = Sip::Persona.where(
      'id NOT IN (SELECT id_persona FROM sivel2_gen_victima)').count %>
    <% if pnvi > 0 %>
      <li>No se incluyen  <%= pnvi %> personas que no aparecen como 
        víctimas (pueden ser familiares o desvinculadas de casos).</li>
    <% end %>
    <% vrep = Sip::Persona.connection.execute(
      'SELECT COUNT(*) FROM ' +
      '(SELECT id_persona, count(id) FROM sivel2_gen_victima GROUP BY 1) ' +
      'AS s WHERE count>1')[0]['count'] %>
    <% if vrep > 0 %>
      <li>No se sobre-cuentan <%= vrep %>  víctimas que se encuentran en más
        de un caso.</li>
    <% end %>
</footer>
