<div class="page-header">
  <h1>Conteo de victimizaciones individuales</h1>
</div>

<%= simple_form_for :filtro, 
  { remote: true, 
    url: conteos_victimizaciones_path,
    method: "get" } do |f| 
%>
  <div class="container">
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
        Filtrar por:
      </div>
      <div class="offset-sm-0 col-sm-4">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fecha Inicial',
          input_html: {
            type: "date",
            "data-contarautomatico" => ""
          }
        %>
      </div>
      <div class="offset-sm-1 col-sm-4">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fecha Final',
          input_html: {
            type: "date",
            "data-contarautomatico" => ""
          }
        %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-2 col-sm-4">
        <%= f.input :etiqueta1,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Msip::Etiqueta, f, :etiqueta1
          ),
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Etiqueta 1',
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
      <div class="offset-sm-1 col-sm-4">
        <%= f.input :etiqueta2,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Msip::Etiqueta, f, :etiqueta2
          ),
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Etiqueta 2',
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
    </div>

    <%= render partial: 'sivel2_gen/mapadep/filtro_categorias', locals: {f: f} %>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
        Desagregar por:
      </div>
      <div class="col-sm-3">
        <%= f.input :segun,
          collection: @opsegun,
          label: false,
          include_blank: false,
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :departamento, 
          as: :boolean, 
          boolean_style: :nested,
          input_html: { style: 'margin-left: 15px',
                        'data-contarautomatico' => '' }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :municipio, 
          as: :boolean, 
          boolean_style: :nested,
          input_html: { 'data-contarautomatico' => '' }
        %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
        Columnas por:
      </div>
      <div class="col-sm-3">
        <% @opcol = ['', 'CATEGORÍA', 'RÓTULO'] %>
        <%= f.input :agrucol,
          collection: @opcol,
          label: false,
          include_blank: false,
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
    </div>
 
    <div class="row filtro-fila">
      <%= render partial: 'victimizaciones_botones', locals: {f: f} %>
    </div>
  </div>
<% end %>

<div id="resultado">
  <%= render 'sivel2_gen/conteos/resultado_tabla' %>
</div> <!-- id: resultado -->
