<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :descripcion %>
    <% if f.object.adjunto_file_name.nil? %>
      <%= f.input :adjunto, as: :file, label: 'Archivo' %>
    <% else %>
      <div class="anexoactividad_adjunto">
        <label for="anexoactividad_attributes_<%=f.object.id%>_adjunto">Archivo</label>
        <a id="anexoactividad_attributes_<%=f.object.id%>_adjunto" href="/anexoactividades/descarga_anexoactividad/<%=f.object.id%>", style="text-decoration:none"><%= f.object.adjunto_file_name %></a>
      </div>
    <% end %>
    <%= link_to_remove_association "Eliminar Anexo", f, 
        :class => 'btn-danger' %> 
  </div>
</div>
