<%- model_class = Usuario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nusuario) %>:</strong></dt>
  <dd><%= @usuario.nusuario %></dd>
  <dt><strong><%= model_class.human_attribute_name(:oficina) %>:</strong></dt>
  <dd><%= if @usuario.oficina.nil? then "Nacional" else @usuario.oficina.nombre end %></dd>
  <% if !@usuario.descripcion.nil? && @usuario.descripcion.length > 0 then %>
    <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
    <dd><%= @usuario.descripcion %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:rol) %>:</strong></dt>
  <dd><%= r=""
    Ability::ROLES.each do |p| 
      if p[1]==@usuario.rol
        r=p[0] 
      end 
    end
    r %></dd>
  <dt><strong><%= model_class.human_attribute_name(:idioma) %>:</strong></dt>
  <dd><%= @usuario.idioma %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @usuario.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:encrypted_password) %>:</strong></dt>
  <dd><%= @usuario.encrypted_password %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              usuarios_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_usuario_path(@usuario), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              usuario_path(@usuario),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
