<% @repetidos.try(:each) do |tabla| %>
  <h3><%= CGI.escapeHTML(tabla[:titulo]) %>: <%= tabla[:cuerpo].count %></h3>
  <% if tabla[:cuerpo].count > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <% tabla[:encabezado].try(:each) do |enc| %>
            <th><%= CGI.escapeHTML(enc) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% tabla[:cuerpo].try(:each) do |fila| %>
          <tr>
            <% i=0; fila.try(:each) do |campo| %>
              <td>
                <% if campo[1] %>
                  <% sep = "" %>
                  <% JSON.parse(campo[1]).each do |id| %>
                    <%= sep %>
                    <%= link_to id, sivel2_gen.caso_path(id), 
                      target: "_blank" %>
                    <% sep = "," %>
                  <% end %>
                <% end %>
                <% i += 1 %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>



