<h2>Inicio de Sesión</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :nusuario, required:  false, autofocus: true, 
      label: "Usuario" 
    %>
    <%= f.input :password, required: false, label: "Clave" %>
    <%= f.input :remember_me, as: :boolean, boolean_style: :nested,
      inline_label: "Recuerdeme" if devise_mapping.rememberable? 
    %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Iniciar Sesión" %>
  </div>
<% end %>

