<div class='control-group nested-fields'>
  <div class="controls">

    <%= f.association :presponsable,
	    label: "Presunto Responsable",
      label_method: :nombre,
      value_method: :id,
      input_html: { 'data-actualiza' => 'presponsable' }
    %>
    <%= f.input :bloque %>
    <%= f.input :frente %>
    <%= f.input :brigada %>
    <%= f.input :otro %>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar Presunto Responsable", f, 
      {:class => 'btn-danger', :'data-existing' => 'true'} %> 
  </div>
</div>
