<%- model_class = Caso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @casos.size > 1 %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
    new_caso_path,
    :class => 'btn btn-primary' 
  %>
<% end %>
<div class='busca'>
  <!--% form_tag caso_busca_path, :method => 'get' do %-->
    <!--%= text_field_tag :busca, params[:busca] %-->
    <!--%= submit_tag "Buscar", :name => nil %-->
  <!--% end %-->
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Caso.human_attribute_name(:id) %></th>
      <th><%= Caso.human_attribute_name(:fecha) %></th>
      <th><%= Caso.human_attribute_name(:memo) %></th>
      <th><%= Caso.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @casos.try(:each) do |caso| %>
      <tr>
        <td><%= link_to caso.id, caso_path(caso) %></td>
        <td><%= caso.fecha %></td>
        <td><%= caso.memo %></td>
	      <td><%= caso.created_at.to_date if !caso.created_at.nil?%></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_caso_path(caso), :class => 'btn btn-xs' 
          %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            caso_path(caso),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger' 
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @casos, { param_name: :pagina }  %>
<%= link_to t('.new', :default => t("helpers.links.new")),
  new_caso_path,
  :class => 'btn btn-primary' 
%>
