<%= simple_form_for @usuario, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :id, label: "Código", readonly: true%>
  <%= f.input :nusuario %>
  <%= f.input :nombre %>
  <%= f.association :regionsjr, 
		collection: Regionsjr.where("fechadeshabilitacion IS NULL AND id<>'1'").
			order(:nombre),
    label: "Oficina",
    label_method: :nombre,
    value_method: :id,
    include_blank: true
  %>
  <%= f.input :descripcion %>
  <%= f.input :rol,
    collection: Ability::ROLES,
    label: "Rol",
    include_blank: false
  %>
  <%= f.association :etiqueta, 
    collection: Etiqueta.where("nombre LIKE 'COMPARTIR%'").order(:nombre),
	  label: "Etiquetas Compartir",
	  label_method: :nombre, 
	  value_method: :id %>
  <%= f.input :idioma %>
  <%= f.input :email %>
	<%= f.input :encrypted_password %>
	<%= f.input :failed_attempts,
		label: 'Intentos fallidos'
	%>
	<%= f.input :unlock_token,
		wrapper_html: { style: "padding-bottom:18px;" },
		label: 'Testigo para desbloquear'
	%>
	<%= f.input :locked_at,
		label: 'Hora del Bloqueo',
		input_html: { "data-behaviour" => "datepicker" }, 
	  :as => :string
	%>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                usuarios_path, :class => 'btn' %>
  </div>
<% end %>
