<%- model_class = Actividad -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:oficina) %>:</strong></dt>
  <dd><%= @actividad.oficina.nombre if !@actividad.oficina.nil? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:minutos) %>:</strong></dt>
  <dd><%= @actividad.minutos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @actividad.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:areas) %>:</strong></dt>
  <dd><%= @actividad.actividadareas.map { |i| i.nombre} %></dd>
  <dt><strong><%= model_class.human_attribute_name(:objetivo) %>:</strong></dt>
  <dd><%= @actividad.objetivo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:proyecto) %>:</strong></dt>
  <dd><%= @actividad.proyecto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:resultado) %>:</strong></dt>
  <dd><%= @actividad.resultado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha) %>:</strong></dt>
  <dd><%= @actividad.fecha %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observaciones) %>:</strong></dt>
  <dd><%= @actividad.observaciones %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              actividades_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_actividad_path(@actividad), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              actividad_path(@actividad),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
