<div class="panel">
  <div class="panel-heading">Actos Individuales</div>
  <div class="panel-body table-responsive" style="min-height: 20em">
    <div class="div-tabla">
      <div class="div-tabla-cuerpo">
        <div class="div-tabla-fila">
          <div class="div-tabla-celda" style="width: 10em"><b>Presunto Responsable</b></div>
          <div class="div-tabla-celda" style="width: 10em"><b>Categoría</b></div>
          <div class="div-tabla-celda" style="width: 10em"><b>Víctima</b></div>
          <div class="div-tabla-celda" style="width: 10em"><b>Acciones</b></div>
        </div>
        <div class='div-tabla-fila'>
          <div class="div-tabla-celda" style="max-width: 10em">
            <% p = options_from_collection_for_select(
              Sivel2Gen::Presponsable.from(
                'sivel2_gen_caso_presponsable, sivel2_gen_presponsable').where(
                  'sivel2_gen_caso_presponsable.presponsable_id = '\
                  ' sivel2_gen_presponsable.id '\
                  ' AND sivel2_gen_caso_presponsable.caso_id=?', @caso.id
                ), 
                "id", "nombre") 
              %>
            <%= select_tag "caso_acto_presponsable_id", p, 
            multiple: true, 
            class: 'chosen-select',
            "data-toggle" => 'tooltip',
            "title" => 'Seleccione de aquellos que añadió en la pestaña Presuntos Responsables' 
          %>
          </div>
          <div class="div-tabla-celda" style="max-width: 10em">
            <%= c = options_from_collection_for_select(
              Sivel2Gen::Categoria.from(
                'sivel2_gen_categoria, sivel2_gen_supracategoria').
                where('sivel2_gen_supracategoria.id=sivel2_gen_categoria.supracategoria_id 
                        AND sivel2_gen_categoria.fechadeshabilitacion is NULL 
                        AND sivel2_gen_categoria.tipocat=\'I\'').
                          reorder('sivel2_gen_supracategoria.tviolencia_id', :id), 
                          "id", 
                          lambda {|t| t.supracategoria.tviolencia_id + t.id.to_s + ' ' + t.nombre }
            )
            select_tag "caso_acto_categoria_id", c, multiple: true, class: 'chosen-select', 
              "data-toggle" => 'tooltip',
              "title" => 'Seleccione el(los) tipo(s) de violencia que asociados al 
            presunto responsable() y víctima(s). Para seleccionar varios presione 
            CTRL y pulse en las categorías que desee.'
          %>
          </div>
          <div class="div-tabla-celda" style="max-width: 10em">
            <% p = options_from_collection_for_select(
              Msip::Persona.from('sivel2_gen_victima, msip_persona').where(
                'sivel2_gen_victima.persona_id=msip_persona.id '\
                'AND sivel2_gen_victima.caso_id=?', @caso.id),
                "id",
                lambda {
                  |t| (t.nombres == 'N' && t.apellidos == 'N') ? 
                  t.sin_identificacion : (t.nombres + ' ' + t.apellidos)
                }) %>
              <%= select_tag "caso_acto_persona_id", p, 
                multiple: true, 
                class: 'chosen-select',
                "data-toggle": 'tooltip',
                title: "Seleccione los nombres de una o más víctimas "\
                "asociadas al presunto responsable y a la categoria "\
                "de violencia elegida. "\
                "Después no olvide presionar el botón Añadir Acto(s)."
              %>
          </div>
          <div class="div-tabla-celda" style="max-width: 10em">
            <%= f.submit "Agregar Acto",
              formaction: sivel2_gen.crear_acto_path(index: @caso.acto.size),
              formmethod: :post,
              formnovalidate: true,
              class: 'btn btn-sm btn-primary agregar-acto',
              name: "agregar-acto",
              id: "agregar-acto", 
              data:  {
                disable_with: false 
              } %>
          </div>
        </div> <!-- tabla-fila -->
      </div> <!-- tabla-cuerpo -->
    </div> <!-- tabla -->
    <%= turbo_frame_tag "actos_marco" do %>
      <%= render partial: 'sivel2_gen/actos/actos_tabla', :f => f %>
    <% end %>
  </div> <!-- panel-body -->
</div> <!-- panel -->

<hr/>

<div class="panel panel-default">
  <div class="panel-heading">Actos Colectivos</div>
    <div class="panel-body">
      <div class="panel-body table-responsive" style="min-height: 20em">
        <div class="div-tabla">
          <div class="div-tabla-cuerpo">
            <div class="div-tabla-fila">
              <div class="div-tabla-celda" style="width: 10em"><b>Presunto Responsable</b></div>
              <div class="div-tabla-celda" style="width: 10em"><b>Categoría</b></div>
              <div class="div-tabla-celda" style="width: 10em"><b>Víctima</b></div>
              <div class="div-tabla-celda" style="width: 10em"><b>Acciones</b></div>
            </div>
            <div class='div-tabla-fila'>
              <div class="div-tabla-celda" style="max-width: 10em">
                <%= 
                  p = options_from_collection_for_select(
                    Sivel2Gen::Presponsable.from(
                      'sivel2_gen_caso_presponsable, sivel2_gen_presponsable').where(
                        'sivel2_gen_caso_presponsable.presponsable_id=
                           sivel2_gen_presponsable.id 
                         AND sivel2_gen_caso_presponsable.caso_id=?', @caso.id), 
                         "id", "nombre"
                  )
                  select_tag "caso_actocolectivo_presponsable_id", p, multiple: true,
                    class: 'chosen-select',
                    "data-toggle" => 'tooltip',
                    "title" => 
                  'Seleccione de aquellos que añadió en la pestaña Presuntos Responsables'
                %>
              </div>
              <div class="div-tabla-celda" style="max-width: 10em">
                <%= 
                  c = options_from_collection_for_select(
                    Sivel2Gen::Categoria.from(
                  'sivel2_gen_categoria, sivel2_gen_supracategoria').
                  where('sivel2_gen_supracategoria.id=sivel2_gen_categoria.supracategoria_id 
                      AND sivel2_gen_categoria.fechadeshabilitacion is NULL 
                      AND sivel2_gen_categoria.tipocat=\'C\'').
                      reorder('sivel2_gen_supracategoria.tviolencia_id', :id), 
                      "id", 
                      lambda {|t| t.supracategoria.tviolencia_id + t.id.to_s + 
                              ' ' + t.nombre }
                  )
                  select_tag "caso_actocolectivo_categoria_id", c, multiple: true,
                    "data-toggle" => 'tooltip',
                    class: 'chosen-select',
                    "title" => 'Seleccione el(los) tipo(s) de violencia que asociados 
                    al presunto responsable() y víctima(s). Para seleccionar varios 
                    presione CTRL y pulse en las categorías que desee.'
                  %>
              </div>
              <div class="div-tabla-celda" style="max-width: 10em">
                <%= 
                  p = options_from_collection_for_select(
                    Msip::Grupoper.from(
                      'sivel2_gen_victimacolectiva, msip_grupoper').where(
                        'sivel2_gen_victimacolectiva.grupoper_id=msip_grupoper.id 
                         AND sivel2_gen_victimacolectiva.caso_id=?', @caso.id),
                         "id",
                         lambda {|t| t.nombre}
                  )
                  select_tag "caso_actocolectivo_grupoper_id", p, multiple: true,
                    "data-toggle" => 'tooltip',
                    class: 'chosen-select',
                    "title" => 'Seleccione los nombres de uno o más víctimas colectivas
                      asociadas al presunto responsable y a la categoria de violencia 
                      elegida.  Después no olvide presionar el botón Añadir Acto(s) Colectivo.'
                %>
              </div>
              <div class="div-tabla-celda" style="max-width: 10em">
                <%= f.submit "Agregar Acto colectivo",
                  formaction: sivel2_gen.crear_actocolectivo_path(index: @caso.actocolectivo.size),
                  formmethod: :post,
                  formnovalidate: true,
                  class: 'btn btn-sm btn-primary agregar-actocolectivo',
                  name: "agregar-actocolectivo",
                  id: "agregar-actocolectivo", 
                  data:  {
                    disable_with: false 
                  } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%= turbo_frame_tag "actoscolectivos_marco" do %>
      <%= render partial: 'sivel2_gen/actoscolectivos/actoscolectivos_tabla', :f => f %>
    <% end %>
  </div> <!-- panel-body -->  
</div> <!-- panel panel-default --> 


