<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :fecha, 
        :input_html => { "data-behaviour" => "datepicker" },
        :as => :string, :label => "Fecha" %>
    <%= f.input :descripcion %>
    <% if f.object.adjunto_file_name.nil? %>
      <%= f.input :adjunto, as: :file, label: 'Archivo' %>
    <% else %>
      <div class="caso_anexo_adjunto">
        <label for="caso_anexo_attributes_<%=f.object.id%>_adjunto">Archivo</label>
        <a id="caso_anexo_attributes_<%=f.object.id%>_adjunto" href="/anexos/descarga_anexo/<%=f.object.id%>", style="text-decoration:none"><%= f.object.adjunto_file_name %></a>
      </div>
    <% end %>
    <%= link_to_remove_association "Eliminar Anexo", f, 
        :class => 'btn-danger' %> 
  </div>
</div>
