<div class="row">
  <div class="col-md-6">
    <%= f.input :fecha_localizada, 
      :input_html => { "data-behaviour" => "datepicker" },
      :as => :string %>
  </div>
  <div class="col-md-6">
    <%= f.input :id, readonly: true%>
  </div>
</div>

<%= f.input :titulo %>

<div class="row">
  <div class="col-md-4">
    <%= f.input :hora %> <!--, as: :time, ampm: true -->
  </div>
  <div class="col-md-4">
    <%= f.input :duracion %>
  </div>
  <div class="col-md-4">
    <%= f.association :intervalo,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Intervalo, f, :intervalo
      ),
      label_method: :nombre,
      value_method: :id %>
  </div>
</div>


<%= render partial: 'basicos_final', locals: {f: f} %>

