<%= turbo_frame_tag "caso_etiqueta_#{f.index}" do %>
<div class='control-group nested-fields'>
  <div class="controls">

    <%= f.input :id, as: :hidden, value: f.object.id %>
    <div class="row">
      <div class="col-md-4">
        <%= f.association :etiqueta,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Msip::Etiqueta, f, :etiqueta
          ),
          label_method: :nombre,
          value_method: :id %>
      </div>
      <div class="col-md-4">
        <div class="input string optional caso_caso_etiqueta_fecha">
          <%= f.label :fecha, "Fecha", class: "select optional control-label" %>
          <%= 
            if !f.object.fecha.nil?
              f.text_field :fecha, label: false, readonly: true, 
                class: 'form-control'
            else
              f.text_field :fecha, label: false, readonly: true, 
                value: Time.now.strftime("%Y-%m-%d"), class: 'form-control'
            end
          %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input string optional caso_caso_etiqueta_usuario_id">
          <%= f.label :usuario_id, "Usuario", 
            class: "select optional control-label" %>
          <%= 
            if !f.object.usuario.nil?
              text_field_tag 'nusuario', f.object.usuario.nusuario, 
                readonly: true, class: 'form-control'
            else
              text_field_tag 'nusuario', current_usuario.nusuario, 
                readonly: true, class: 'form-control'
            end
          %>
        </div>
      </div>
    </div>

    <%= 
      if !f.object.usuario_id.nil?
        f.input :usuario_id, as: :hidden, value: f.object.usuario_id
      else
        f.input :usuario_id, as: :hidden, value: current_usuario.id
      end
    %>
    <%= f.input :observaciones %>

    <%= f.submit "Eliminar", 
      formaction: eliminar_caso_etiqueta_path(
        id: f.object.id, index: f.index),
      formmethod: :delete,
      formnovalidate: true,
      class: 'btn btn-sm btn-danger',
      data: { 
        turbo_frame: "caso_etiqueta_#{f.index}",
        disable_with: false
      } %>
  </div>
</div>
<% end %>
