<%= turbo_frame_tag "caso_presponsable_#{fp.index}" do %>
  <div class='control-group nested-fields'>
    <div class="controls">
      <%= fp.input :id, as: :hidden %>
      <div class="row">
        <div class="col-md-12">
          <% col1 = Sivel2Gen::Presponsable.habilitados.map(&:id) %>
          <% col2 = [] %>
          <% col2 = fp.object.caso.presponsable_ids if fp.object.caso %>
          <% col = Sivel2Gen::Presponsable.where(id: col1 | col2).
            order(:nombre) %>
          <%= fp.association :presponsable,
            collection: col,
            label_method: :nombre,
            value_method: :id,
            input_html: { 
              'data-actualiza' => 'presponsable',
              "data-toggle" => 'tooltip',
              "title" => "Registre por lo menos un presunto responsable. "\
              "Para agregar pulse el botón \"Añadir\" de la parte inferior."
            } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= fp.input :subdivision,
            label: "División / Brigada / Batallón",
            input_html: {
              "data-toggle" => 'tooltip',
              "title" => 'En el caso de ejército'
            } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <%= fp.input :bloque,
            input_html: {
              "data-toggle" => 'tooltip',
              "title" => 'En el caso de grupos paramilitares'
            } %>
        </div>
        <div class="col-md-4">
          <%= fp.input :frente,
            input_html: {
              "data-toggle" => 'tooltip',
              "title" => 'En el caso de grupos guerilleros'
            } %>
        </div>
        <div class="col-md-4">
          <%= fp.input :otro,
            input_html: {
              "data-toggle" => 'tooltip',
              "title" => 'Por ejemplo para incluir responsables individuales'
            } %>
        </div>
      </div>
      <%= render 'sivel2_gen/casos/caso_presponsable_compf', fp:  fp %>

      <%= fp.submit "Eliminar", 
        formaction: sivel2_gen.eliminar_caso_presponsable_path(
          id: fp.object.id, 
          index: fp.index),
          formmethod: :delete,
          formnovalidate: true,
          class: 'btn btn-sm btn-danger',
          data: { 
            turbo_frame: "caso_presponsable_#{fp.index}",
            disable_with: false
          } %>
    </div>
  </div>
<% end %>
