<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.association :presponsable,
      collection: Sivel2Gen::Presponsable.habilitados,
      label_method: :nombre,
      value_method: :id,
      input_html: { 
        'data-actualiza' => 'presponsable',
        "data-toggle" => 'tooltip',
        "title" => 'Registre por lo menos un presunto responsable. Para agregar pulse el botón "Añadir" de la parte inferior'
      }
    %>
    <%= f.input :bloque,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'En el caso de grupos paramilitares'
       }
    %>
    <%= f.input :frente,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'En el caso de grupos guerilleros'
      } 
    %>
    <%= f.input :division,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'En el caso de ejército'
      } 
    %>
    <%= f.input :brigada,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'En el caso de ejército'
      } 
    %>
    <%= f.input :batallon,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'En el caso de ejército'
      } 
    %>
    <%= f.input :otro,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Por ejemplo para incluir responsables individuales'
      }
    %>
    <%= f.association :categoria, 
      collection: Sivel2Gen::Categoria.habilitados.where(tipocat: 'O'),
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar " +
      Sivel2Gen::Presponsable.human_attribute_name(:presponsable), f, 
      {class: 'btn-danger', 'data-existing': 'true'} 
    %> 
  </div>
</div>
