<div class='control-group nested-fields'>
  <div class="controls">
    <%  
        f.object = Sivel2Gen::CasoFotra.new if !f.object
    %>

    <%= f.input :fecha, 
      :input_html => { "data-behaviour" => "datepicker" },
      :as => :string, :label => "Fecha" 
    %>

    <%= f.input :nombre %>

    <%= f.input :anotacion %>

    <%= f.input(:tfuente, collection: [
      'Directa', 'Indirecta'
    ], 
    label: "Tipo de Fuente",
    include_blank: false ) 
    %>
  
    <%= f.input :ubicacionfisica %>

    <%= f.association :anexo_caso,
      collection: Sivel2Gen::AnexoCaso.where(id_caso: f.object.id_caso),
      label_method: lambda { |t| t.sip_anexo.adjunto_file_name },
      value_method: :id_anexo
    %>

    <%= f.input :id, as: :hidden %>

    <%= link_to_remove_association "Eliminar Otra Fuente", f, 
      :class => 'btn-danger' 
    %> 
  </div>
</div>
