<div class='control-group nested-fields'>
  <div class="controls">
    <%  
        f.object = Sivel2Gen::CasoFuenteprensa.new if !f.object
    %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :fecha, 
          :input_html => { "data-behaviour" => "datepicker" },
          :as => :string, :label => "Fecha" %>
      </div>
      <div class="col-md-6">
        <%= f.association :fuenteprensa,
          collection: Sip::Fuenteprensa.habilitados,
          label_method: :nombre,
          value_method: :id %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :ubicacion %>
      </div>
      <div class="col-md-6">
        <%= f.input :clasificacion %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :ubicacionfisica %>
      </div>
      <div class="col-md-6">
        <%= f.association :anexo_caso,
          collection: Sivel2Gen::AnexoCaso.where(id_caso: f.object.id_caso),
          label_method: lambda { |t| t.sip_anexo.adjunto_file_name },
          value_method: :id %>
      </div>
    </div>

    <%= f.input :id, as: :hidden %>

    <%= link_to_remove_association "Eliminar Fuente Frecuente", f, 
      :class => 'btn-danger' 
    %> 
  </div>
</div>
