<%= turbo_frame_tag "caso_fuenteprensa_#{fp.index}" do %>
  <div class='control-group nested-fields'>
    <div class="controls">
      <%= fp.input :id, as: :hidden %>
      <div class="row">
        <div class="col-md-6">
          <%= fp.input :fecha,
            :input_html => { type: "date" },
            :as => :string, :label => "Fecha" %>
        </div>
        <div class="col-md-6">
          <%= fp.association :fuenteprensa,
            collection: Msip::ModeloHelper.opciones_tabla_basica(
              Msip::Fuenteprensa, fp, :fuenteprensa
            ),
            label_method: :nombre,
            value_method: :id %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= fp.input :ubicacion %>
        </div>
        <div class="col-md-6">
          <%= fp.input :clasificacion %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= fp.input :ubicacionfisica %>
        </div>
        <div class="col-md-6">
          <%= fp.association :anexo_caso,
            collection: Sivel2Gen::AnexoCaso.where(caso_id: fp.object.caso_id),
            label_method: lambda { |t| t.msip_anexo.adjunto_file_name },
            value_method: :id %>
        </div>
      </div>

      <%= fp.submit "Eliminar", 
        formaction: sivel2_gen.eliminar_caso_fuenteprensa_path(
          id: fp.object.id, index: fp.index),
        formmethod: :delete, 
        formnovalidate: true, 
        class: 'btn btn-sm btn-danger',
        data: { 
          turbo_frame: "caso_fuenteprensa_#{fp.index}",
          disable_with: false
        } %>
    </div>
  </div>
<% end %>
