<div class='campos-grupoper-con-victimacolectiva-id'>
  <%= f.simple_fields_for :grupoper do |g| %>
    <%= render partial: 'sivel2_gen/casos/grupoper_campos', 
      locals: {f: g, fvictimacolectiva: f} %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :personasaprox %>
  </div>
  <div class="col-md-6">
    <%= f.association :presponsable,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Presponsable, f, :presponsable
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :rangoedad,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Rangoedad, f, :rangoedad
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id 
    %>
  </div>
  <div class="col-md-6">
    <%= f.association :filiacion,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Filiacion, f, :filiacion
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <%= f.association :organizacion,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Organizacion, f, :organizacion
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id %>
  </div>
  <div class="col-md-6">
    <%= f.association :sectorsocial,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Sectorsocial, f, :sectorsocial
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id
    %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <%= f.association :profesion,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Profesion, f, :profesion
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id
    %>
  </div>
  <div class="col-md-6">
    <%= f.association :vinculoestado,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Vinculoestado, f, :vinculoestado
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id %>
  </div>
</div>
<div class="row">
    <div class="col-md-6">
    <%= f.association :antecedente,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Antecedente, f, :antecedente
      ),
      label_method: :nombre, 
      value_method: :id,
      include_blank: false %>
  </div>
  <div class="col-md-6">
    <%= f.association :etnia,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Etnia, f, :etnia
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id
    %>
  </div>
</div>

<% if params[:controller] == "sivel2_gen/victimascolectivas" %>
  <%= f.hidden_field :caso_id, value: params[:caso][:id],
    class: "caso_id" %>
<% end %>
