<div class='control-group nested-fields seccioncombatiente'>
  <div class="controls">
    <%= f.input :id, as: :hidden,
        input_html: {
          "data-controller": "sivel2-gen--motor"
        }
    %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :nombre %>
      </div>
      <div class="col-md-6">
        <%= f.input :alias %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :edad %>
      </div>
      <div class="col-md-4">
        <%= f.input :sexo, 
          collection: Msip::Persona::sexo_opciones,
          include_blank: false %>
      </div>
      <div class="col-md-4">
        <%= f.association :rangoedad,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Sivel2Gen::Rangoedad, f, :rangoedad
          ),
          include_blank: false,
          label_method: :nombre, 
          value_method: :id %>
       </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.association :sectorsocial,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Sivel2Gen::Sectorsocial, f, :sectorsocial
          ),
          include_blank: false,
          label_method: :nombre, 
          value_method: :id %>
      </div>
      <div class="col-md-6">
        <%= f.association :vinculoestado,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Sivel2Gen::Vinculoestado, f, :vinculoestado
          ),
          include_blank: false,
          label_method: :nombre, 
          value_method: :id %>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.association :filiacion,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Sivel2Gen::Filiacion, f, :filiacion
          ),
          include_blank: false,
          label_method: :nombre, 
          value_method: :id %>
      </div>
      <div class="col-md-6">
        <%= f.association :profesion,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Sivel2Gen::Profesion, f, :profesion
          ),
          include_blank: false,
          label_method: :nombre, 
          value_method: :id %>
         </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.association :organizacion,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Sivel2Gen::Organizacion, f, :organizacion
          ),
          include_blank: false,
          label_method: :nombre, 
          value_method: :id %>
      </div>
      <div class="col-md-6">
        <%= f.association :presponsable,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Sivel2Gen::Presponsable, f, :presponsable
          ),
          include_blank: false,
          label_method: :nombre, 
          value_method: :id %>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.association :resagresion,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Sivel2Gen::Resagresion, f, :resagresion
          ),
          include_blank: false,
          label_method: :nombre, 
          value_method: :id %>
      </div>
      <div class="col-md-6">
        <%= f.association :antecedente,
          collection: Msip::ModeloHelper.opciones_tabla_basica(
            Sivel2Gen::Antecedente, f, :antecedente
          ),
        include_blank: false,
        label_method: :nombre, 
        value_method: :id,
        input_html: {
          class: "tom-select"
        }%>
       </div>
    </div>
    <div style='margin-bottom: 1em'>
      <%= link_to t('Crea Copia'), '#',
        class: 'btn btn-sm',
        onclick: 'Sivel2GenMotorEs6.crea_copia_de_combatiente(this, event)' %>
      <%= link_to_remove_association "Eliminar Combatiente", f, {
        class: 'btn btn-sm btn-danger', 
        'data-existing': 'true'
      } %> 
    </div>
  </div>
</div>
