<div class='campos-persona-con-victima-id'>
  <%= f.simple_fields_for :persona do |p| %>
    <%= p.input :sin_identificacion,
      label: false,
      readonly: true %>
    <%= render partial: 'sip/personas/persona_campos', 
      locals: {f: p, fvictima: f}  %>
  <% end %>
</div>

<%= render partial: 'contacto_complemento_1', locals: {f: f} %>

<div class="row">
  <div class="col-md-4">
    <%= f.association :profesion,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Profesion, f, :profesion
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id %>
  </div>
  <div class="col-md-4">
    <%= render partial: 'sivel2_gen/victimas/campo_hijos',
      locals: {f: f} %>
  </div>
  <div class="col-md-4">
    <%= f.association :filiacion,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Filiacion, f, :filiacion
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Partido o filiación política en el momento del hecho' 
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :sectorsocial,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Sectorsocial, f, :sectorsocial
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Sector social al que pertenecía en el momento del hecho' 
      } %>
  </div>
  <div class="col-md-6">
    Sectores Sociales Secundarios:
    <%= f.association :sectorsocialsec,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Sectorsocial, f, :sectorsocialsec
      ),
      label: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        multiple: true,
        class: 'chosen-select'
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :contextovictima,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Contextovictima, f, :contextovictima
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      include_blank: false,
      input_html: {
        "data-toggle" => 'tooltip',
        multiple: true,
        class: 'chosen-select'
      } %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'sivel2_gen/casos/campo_vinculoestado',
      locals: {f: f} %>
  </div>
</div>

<%= render partial: 'sivel2_gen/casos/fila_despues_vinculoestado',
  locals: {f: f} %>

<div class="row">
  <div class="col-md-6">
    <%= f.association :organizacion,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Organizacion, f, :organizacion
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Organización a la que pertenecía en el momento del hecho'
      } %>
  </div>
  <div class="col-md-6">
    <%= f.association :otraorga,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Organizacion, f, :otraorga
      ),
      label_method: :nombre, 
      value_method: :id,
      include_blank: false,
      input_html: {
        "data-toggle" => 'tooltip',
        multiple: true,
        class: 'chosen-select'
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :presponsable,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Presponsable, f, :presponsable
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Registre si la persona hacía parte de una organización armada en el momento del hecho',
        "value" => f.object.organizacionarmada || 35
      }
    %>
  </div>
  <div class="col-md-6">
    <%= f.association :etnia,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Etnia, f, :etnia
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id %>
   </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :iglesia,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Iglesia, f, :iglesia
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id 
    %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'sivel2_gen/victimas/campo_orientacionsexual',
      locals: {f: f} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :anotaciones %>
  </div>
  <div class="col-md-6">
    <%= f.association :antecedente,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Antecedente, f, :antecedente
      ),
      label_method: :nombre, 
      value_method: :id,
      include_blank: false %>
  </div>
</div>

<%= render partial: 'contacto_complemento_n', locals: {f: f} %>

<%= f.input :id, as: :hidden %>

