<div class='campos-persona-con-victima-id' data-controller='sivel2-gen--edad'>
  <%= f.input :id, as: :hidden %>
  <%= f.simple_fields_for :persona do |p| %>
    <%= render partial: 'msip/personas/persona_campos',
      locals: {
        f: p,
        fvictima: f,
        index_vic: index_vic,
        nombre_fuente: "fuente-victimas",
        nombre_fuente_familiares: "fuente-familiares-victima"
      }  %>
  <% end %>
</div>

<%= render partial: 'sivel2_gen/casos/contacto_complemento_1', locals: {f: f} %>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'sivel2_gen/victimas/campo_hijos',
      locals: {f: f} %>
  </div>
  <div class="col-md-3">
    <%= f.association :profesion,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Profesion, f, :profesion
      ),
      label: "Profesión principal",
      include_blank: false,
      label_method: :nombre,
      value_method: :id %>
  </div>
  <div class="col-md-3">
    <%= f.association :profesionsec,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Profesion, f, :profesion),
        label_method: :nombre,
        value_method: :id,
        include_blank: false,
        input_html: {
          "data-toggle" => 'tooltip',
          multiple: true,
          class: 'chosen-select'
        } %>
  </div>
  <div class="col-md-3">
    <%= f.association :filiacion,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Filiacion, f, :filiacion
      ),
      include_blank: false,
      label_method: :nombre,
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Partido o filiación política en el momento del hecho'
      } %>
  </div>
</div>

<%= render partial: 'sivel2_gen/casos/sectorsocial_campos', locals: {f: f} %>

<div class="row">
  <div class="col-md-6">
    <%= render partial: "sivel2_gen/casos/contextovictima", locals: {f: f} %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'sivel2_gen/casos/campo_vinculoestado',
      locals: {f: f} %>
  </div>
</div>

<%= render partial: 'sivel2_gen/casos/fila_despues_vinculoestado',
  locals: {f: f} %>
<div class="row">
  <div class="col-md-6">
    <%= f.association :organizacion,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Organizacion, f, :organizacion
      ),
      include_blank: false,
      label_method: :nombre,
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Organización a la que pertenecía en el momento del hecho'
      } %>
  </div>
  <div class="col-md-6">
    <%= f.association :otraorga,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Organizacion, f, :otraorga
      ),
      label_method: :nombre,
      value_method: :id,
      include_blank: false,
      input_html: {
        "data-toggle" => 'tooltip',
        multiple: true,
        class: 'tom-select'
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :presponsable,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Presponsable, f, :presponsable
      ),
      include_blank: false,
      label_method: :nombre,
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Registre si la persona hacía parte de una organización armada en el momento del hecho',
        "value" => f.object.organizacionarmada || 35
      }
    %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :iglesia,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Iglesia, f, :iglesia
      ),
      include_blank: false,
      label_method: :nombre,
      value_method: :id
    %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'sivel2_gen/victimas/campo_orientacionsexual',
      locals: {f: f} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :anotaciones %>
  </div>
  <div class="col-md-6">
    <%= f.association :antecedente,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Antecedente, f, :antecedente
      ),
      label_method: :nombre,
      value_method: :id,
      include_blank: false %>
  </div>
</div>

<%= render partial: 'sivel2_gen/casos/contacto_complemento_n', locals: {f: f} %>
<%= f.hidden_field :caso_id, value: @caso.id,
  class: "caso_id" %>

<%= f.input :id, as: :hidden %>
