<%= f.simple_fields_for :persona do |p| %>
  <%= p.input :sin_identificacion,
    label: false,
    readonly: true %>
  <%= render partial: 'sip/personas/persona_campos', 
    locals: {f: p, fvictima: f}  %>
<% end %>

<%= render partial: 'contacto_complemento_1', locals: {f: f} %>

<div class="row">
  <div class="col-md-4">
    <%= f.association :profesion,
      collection: Sivel2Gen::Profesion.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id %>
  </div>
  <div class="col-md-4">
    <%= render partial: 'sivel2_gen/victimas/campo_hijos',
      locals: {f: f} %>
  </div>
  <div class="col-md-4">
    <%= f.association :filiacion,
      collection: Sivel2Gen::Filiacion.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Partido o filiación política en el momento del hecho' 
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    Sector Social Principal:
    <%= f.association :sectorsocial,
      collection: Sivel2Gen::Sectorsocial.habilitados,
      label: false,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Sector social al que pertenecía en el momento del hecho' 
      } %>
  </div>
  <div class="col-md-6">
    <%= f.association :contextovictima,
      collection: Sivel2Gen::Contextovictima.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        multiple: true,
        class: 'chosen-select'
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    Sectores Sociales Secundarios:
    <%= f.association :sectorsocialsec,
      collection: Sivel2Gen::Sectorsocial.habilitados,
      label: false,
      label_method: :nombre, 
      value_method: :id,
      include_blank: false,
      input_html: {
        "data-toggle" => 'tooltip',
        multiple: true,
        class: 'chosen-select'
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :organizacion,
      collection: Sivel2Gen::Organizacion.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Organización a la que pertenecía en el momento del hecho'
      } %>
  </div>
  <div class="col-md-6">
    <%= f.association :vinculoestado,
      collection: Sivel2Gen::Vinculoestado.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Registre si la persona era funcionaria pública en el momento del hecho'
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :presponsable,
      collection: Sivel2Gen::Presponsable.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Registre si la persona hacía parte de una organización armada en el momento del hecho',
        "value" => f.object.organizacionarmada || 35
      }
    %>
  </div>
  <div class="col-md-6">
    <%= f.association :etnia,
      collection: Sivel2Gen::Etnia.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id %>
   </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :iglesia,
      collection: Sivel2Gen::Iglesia.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id 
    %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'sivel2_gen/victimas/campo_orientacionsexual',
      locals: {f: f} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :anotaciones %>
  </div>
  <div class="col-md-6">
    <%= f.association :antecedente,
      collection: Sivel2Gen::Antecedente.habilitados,
      label_method: :nombre, 
      value_method: :id,
      include_blank: false %>
  </div>
</div>

<%= render partial: 'contacto_complemento_n', locals: {f: f} %>

<%= f.input :id, as: :hidden %>

