<div class="container">
  <!--%= simple_form_for :reporte, { url: '/reporte' } do |f| %-->
    <div class="row filtro-fila">
      <div class="text-center col-sm-offset-0 col-sm-10 col-md-offset-1 col-md-8">
        Filtro
      </div>
      <div class="col-sm-offset-0 col-sm-1">Incluir</div>
      <div class="col-sm-offset-0 col-sm-1">Ordenar por</div>
    </div>
 
    <div class="row filtro-fila" style="border: 1px solid lightgray">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
        Ubicación
      </div>
      <div class="col-sm-offset-0 col-sm-3 col-md-3">
        <%= f.input :departamento_id,
          collection: Sip::Departamento.habilitados.where(id_pais: 170),
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- Departamento"
        %>
      </div>
      <div class="col-md-2">
        <%= f.input :municipio_id,
          collection: Sip::Municipio.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- Municipio",
          input_html: {disabled: :disabled }
        %>
      </div>
      <div class="col-md-2">
        <%= f.input :clase_id,
          collection: Sip::Clase.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- Clase",
          input_html: {disabled: :disabled }
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
        <%= f.input :inc_ubicaciones, 
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
        <%= f.radio_button :orden, :ubicacion, checked: true  %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
        Fecha
      </div>
      <div class="col-sm-offset-0 col-sm-4 col-md-offset-0 col-md-3">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Inicial',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-4 col-md-offset-1 col-md-3">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Final',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
    </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
        <%= f.input :inc_fecha, 
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
        <%= f.radio_button(:orden, :fecha) %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
        Presunto Responsable  
      </div>
      <div class="col-sm-offset-0 col-sm-10 col-md-offset-0 col-md-7">
        <%= f.input :presponsable_id,
          collection: Sivel2Gen::Presponsable.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: true
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
        <%= f.input :inc_presponsables, 
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
       Tipificación
      </div>
      <div class="col-sm-offset-0 col-sm-10 col-md-offset-0 col-md-7">
        <%= f.input :categoria_id,
          collection: Sivel2Gen::Categoria.habilitados.joins(:supracategoria).
            reorder('sivel2_gen_supracategoria.id_tviolencia', :id),
          label_method: lambda {|t| 
            t.supracategoria.id_tviolencia + 
                                t.id.to_s + ' ' + t.nombre},
          value_method: :id,
          label: false,
          include_blank: true
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
        <%= f.input :inc_tipificacion, 
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
        Víctima
      </div>
      <div class="col-sm-offset-0 col-sm-4 col-md-offset-0 col-md-3">
        <%= f.input :nombres,
          maxlength: 50, 
          size: 10,
          label: false,
          placeholder: 'Nombre(s)'
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-4 col-md-offset-1 col-md-3">
        <%= f.input :apellidos,
          maxlength: 50, 
          size: 10,
          label: false,
          placeholder: 'Apellido(s)'
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
        <%= f.input :inc_victimas, 
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
      </div>

      <div class="col-sm-offset-0 col-sm-4 col-md-3">
        <%= f.input :sexo, 
          collection: [
            ["SIN INFORMACIÓN", :S], 
            ["FEMENINO", :F], 
            ["MASCULINO", :M]
          ], 
          label: false,
          include_blank: '-- Sexo'
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-4 col-md-offset-1 col-md-3">
        <%= f.input :rangoedad_id, 
          collection: Sivel2Gen::Rangoedad.habilitados,
          label: false,
          label_method: :rango,
          value_method: :id,
          include_blank: '-- Rango de Edad'
        %>

      </div>
      <div class="col-sm-offset-1 col-sm-1 col-md-offset-0 text-center">
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
        Descripción
      </div>
      <div class="col-sm-offset-0 col-sm-9 col-md-offset-0 col-md-7">
        <%= f.input :descripcion,
          maxlength: 500, 
          label: false,
          placeholder: 'Descripción'
        %>
      </div>
        <!--%= select_tag "contexto", options_from_collection_for_select(
          Sivel2Gen::Contexto.habilitados,
          "id", "nombre") 
        %-->
      <div class="col-sm-offset-0 col-sm-1 text-center">
        <%= f.input :inc_memo, 
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
        Etiqueta
      </div>
      <div class="col-sm-offset-0 col-sm-1">
        <%= f.input :conetiqueta1, 
          collection: [ ["TIENE", true], ["NO TIENE", false] ], 
          label: false,
          include_blank: false
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-2">
        <%= f.input :etiqueta1,
          collection: Sip::Etiqueta.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Etiqueta 1'
        %>
      </div>
      <div class="col-sm-offset-1 col-sm-1">
        <%= f.input :conetiqueta2, 
          collection: [ ["TIENE", true], ["NO TIENE", false] ], 
          label: false,
          include_blank: false
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-2">
        <%= f.input :etiqueta2,
          collection: Sip::Etiqueta.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Etiqueta 1'
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
        Ingreso a Sistema
      </div>
      <div class="col-sm-offset-0 col-sm-2">
        <%= f.input :usuario_id,
          collection: ::Usuario.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Usuario'
        %>
      </div>
      <div class="col-md-offset-1 col-sm-2">
        <%= f.input :fechaingini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fecha Inicial',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
      </div>
      <div class="col-sm-2">
        <%= f.input :fechaingfin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fecha Final',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
      </div>
    </div>
   <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
       Código(s) 
      </div>
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-0 col-md-7">
        <%= f.input :codigo, 
          placeholder: 'Código(s)',
          label: false
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
        <%= f.input :inc_casoid,
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="col-sm-offset-0 col-sm-1 text-center">
        <%= f.radio_button(:orden, :codigo) %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
        Presentación  
      </div>
      <div class="col-sm-offset-1 col-sm-1">
        <%= f.radio_button :dispresenta, :tabla, checked: true %>
        <%= label :dispresenta_tabla, 'Tabla' %>
      </div>
      <div class="col-sm-2">
        <!--%= f.radio_button :dispresenta, :revista %-->
        <!--%= label :dispresenta_revista, 'Rep. Revista' %-->
      </div>
      <div class="col-sm-2">
        <!--%= f.radio_button :dispresenta, :general %-->
        <!--%= label :dispresenta_general, 'Rep. General' %-->
      </div>
      <div class="col-sm-2">
        <!--%= f.radio_button :dispresenta, :xrlat %-->
        <!--%= label :dispresenta_xrlat, 'Relato XML' %-->
      </div>
      <div class="col-sm-offset-1 col-sm-1">
        <%= f.input :paginar, 
          as: :boolean, 
          label: 'Paginar',
          input_html: { :checked => "checked" }
        %>
      </div>
    </div>
  <!--% end %-->
</div>
