<div class="container">
  <!--%= simple_form_for :reporte, { url: '/reporte' } do |f| %-->
    <div class="row filtro-fila">
      <div class="text-center offset-sm-0 col-sm-10 offset-md-1 col-md-8">
        Filtro
      </div>
      <div class="offset-sm-0 col-sm-1">Incluir</div>
      <div class="offset-sm-0 col-sm-1">Ordenar por</div>
    </div>
 
    <div class="row filtro-fila" style="border: 1px solid lightgray">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Ubicación
      </div>
      <div class="offset-sm-0 col-sm-3 col-md-3">
        <%= f.input :departamento_id,
          collection: Sip::Departamento.habilitados.where(id_pais: 170),
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- Departamento"
        %>
      </div>
      <div class="col-md-2">
        <%= f.input :municipio_id,
          collection: Sip::Municipio.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- Municipio",
          input_html: {disabled: :disabled }
        %>
      </div>
      <div class="col-md-2">
        <%= f.input :clase_id,
          collection: Sip::Clase.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- Clase",
          input_html: {disabled: :disabled }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_ubicaciones, 
          as: :boolean, 
          label: false,
          input_html: { checked: 'checked' }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        A <%= f.radio_button :orden, :ubicacion, 
          checked: @campoord == 'ubicacion' %>
        D <%= f.radio_button :orden, :ubicaciondesc, 
          checked: @campoord == 'ubicaciondesc' %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Fecha
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-3">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Desde',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Hasta',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
    </div>
    <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_fecha, 
          as: :boolean, 
          label: false,
          input_html: {checked: 'checked'}
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        A <%= f.radio_button(:orden, :fecha, 
                             checked: @campoord == 'fecha' ) %>
        D <%= f.radio_button(:orden, :fechadesc, 
                             checked: @campoord == 'fechadesc' ) %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Presunto Responsable  
      </div>
      <div class="offset-sm-0 col-sm-10 offset-md-0 col-md-7">
        <%= f.input :presponsable_id,
          collection: Sivel2Gen::Presponsable.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: true
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_presponsables, 
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
       Tipificación
      </div>
      <div class="offset-sm-0 col-sm-10 offset-md-0 col-md-7">
        <% if current_usuario %>
          <%= f.input :categoria_id,
            collection: Sivel2Gen::Categoria.habilitados.joins(:supracategoria).
            reorder('sivel2_gen_supracategoria.id_tviolencia', :id),
            label_method: lambda {|t| 
            t.supracategoria.id_tviolencia + 
              t.id.to_s + ' ' + t.nombre},
              value_method: :id,
              :include_hidden => false,
              input_html: { :class => "chosen-select", multiple: true },
              label: false
        %>
        <% else %>
          <%= f.input :categoria_id,
            collection: Sivel2Gen::Categoria.habilitados.joins(:supracategoria).
            reorder('sivel2_gen_supracategoria.id_tviolencia', :id),
            label_method: lambda {|t| 
            t.supracategoria.id_tviolencia + 
              t.id.to_s + ' ' + t.nombre},
              value_method: :id,
              label: false,
              include_blank: true
        %>
        <% end %>  

      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_tipificacion, 
          as: :boolean, 
          label: false,
          input_html: {checked: 'checked'}
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">

      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
       Contexto Caso
      </div>
      <div class="offset-sm-0 col-sm-10 offset-md-0 col-md-7">
        <%= f.input :contexto_id,
          collection: Sivel2Gen::Contexto.habilitados,
          label_method: :nombre,
          value_method: :id,
          :include_hidden => false,
          input_html: { :class => "chosen-select", multiple: true },
          label: false
        %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
       Contexto Víctima
      </div>
      <div class="offset-sm-0 col-sm-10 offset-md-0 col-md-7">
        <%= f.input :contextovictima_id,
          collection: Sivel2Gen::Contextovictima.habilitados,
          label_method: :nombre,
          value_method: :id,
          :include_hidden => false,
          input_html: { :class => "chosen-select", multiple: true },
          label: false
        %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Víctima
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-3">
        <%= f.input :nombres,
          maxlength: 50, 
          size: 10,
          label: false,
          placeholder: 'Nombre(s)'
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :apellidos,
          maxlength: 50, 
          size: 10,
          label: false,
          placeholder: 'Apellido(s)'
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_victimas, 
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
      </div>

      <div class="offset-sm-0 col-sm-4 col-md-3">
        <%= f.input :sexo, 
          collection: Sip::Persona::OPCIONES_SEXO,
          label: false,
          include_blank: '-- Sexo'
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :rangoedad_id, 
          collection: Sivel2Gen::Rangoedad.habilitados,
          label: false,
          label_method: :rango,
          value_method: :id,
          include_blank: '-- Rango de Edad'
        %>
      </div>
      <div class="offset-sm-1 col-sm-1 offset-md-0 text-center">
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>
    <% if current_usuario %>
      <div class="row filtro-fila">
        <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        </div>

        <div class="offset-sm-0 col-sm-8 col-md-7">
          <div class="row filtro-fila">
            <div class="col-sm col-md">
              <%= f.input :sectorsocial_id,
                collection: Sivel2Gen::Sectorsocial.habilitados,
                label: false,
                label_method: :nombre,
                value_method: :id,
                include_blank: '-- Sector Social'
              %>
            </div>
            <div class="col-sm col-md">
              <%= f.input :organizacion_id,
                collection: Sivel2Gen::Organizacion.habilitados,
                label: false,
                label_method: :nombre,
                value_method: :id,
                include_blank: '-- Organizacion'
              %>
            </div>
            <div class="col-sm col-md">
              <%= f.input :profesion_id,
                collection: Sivel2Gen::Profesion.habilitados,
                label: false,
                label_method: :nombre,
                value_method: :id,
                include_blank: '-- Profesion'
              %>
            </div>
          </div>
        </div>
        <div class="offset-sm-1 col-sm-1 offset-md-0 text-center">
        </div>
        <div class="offset-sm-0 col-sm-1 text-center">
        </div>
      </div>
    <% end %>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Descripción
      </div>
      <div class="offset-sm-0 col-sm-9 offset-md-0 col-md-7">
        <%= f.input :descripcion,
          maxlength: 500, 
          label: false,
          placeholder: 'Descripción'
        %>
      </div>
        <!--%= select_tag "contexto", options_from_collection_for_select(
          Sivel2Gen::Contexto.habilitados,
          "id", "nombre") 
        %-->
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_memo, 
          as: :boolean, 
          label: false,
          input_html: { :checked => "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>
    <% if current_usuario %>
      <div class="row filtro-fila">
        <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
          Etiqueta
        </div>
        <div class="offset-sm-0 col-sm-1">
          <%= f.input :conetiqueta1, 
            collection: [ ["TIENE", true], ["NO TIENE", false] ], 
            label: false,
            include_blank: false
          %>
        </div>
        <div class="offset-sm-0 col-sm-2">
          <%= f.input :etiqueta1,
            collection: Sip::Etiqueta.habilitados,
            label_method: :nombre,
            value_method: :id,
            label: false,
            include_blank: '-- Etiqueta 1'
          %>
        </div>
        <div class="offset-sm-1 col-sm-1">
          <%= f.input :conetiqueta2, 
            collection: [ ["TIENE", true], ["NO TIENE", false] ], 
            label: false,
            include_blank: false
          %>
        </div>
        <div class="offset-sm-0 col-sm-2">
          <%= f.input :etiqueta2,
            collection: Sip::Etiqueta.habilitados,
            label_method: :nombre,
            value_method: :id,
            label: false,
            include_blank: '-- Etiqueta 1'
          %>
        </div>
        <div class="offset-sm-0 col-sm-1 text-center">
        </div>
      </div>
   
      <div class="row filtro-fila">
        <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
          Ingreso a Sistema
        </div>
        <div class="offset-sm-0 col-sm-2">
          <%= f.input :usuario_id,
            collection: ::Usuario.habilitados,
            label_method: lambda {|t| (t.nombre ? t.nombre : '') + ' - ' + 
              t.nusuario
          },
            value_method: :id,
            label: false,
            include_blank: '-- Usuario'
          %>
        </div>
        <div class="offset-md-1 col-sm-2">
          <%= f.input :fechaingini,
            maxlength: 10, 
            size: 10,
            label: false,
            placeholder: 'Fecha Inicial',
            input_html: {
            "data-behaviour" => "datepicker"
            }
          %>
        </div>
        <div class="col-sm-2">
          <%= f.input :fechaingfin,
            maxlength: 10, 
            size: 10,
            label: false,
            placeholder: 'Fecha Final',
            input_html: {
            "data-behaviour" => "datepicker"
            }
          %>
        </div>
      </div>
      <div class="row filtro-fila">
        <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
         Código(s) 
        </div>
        <div class="offset-sm-0 col-sm-2 offset-md-0 col-md-7">
          <%= f.input :codigo, 
            placeholder: 'Código(s)',
            label: false
          %>
        </div>
        <div class="offset-sm-0 col-sm-1 text-center">
          <%= f.input :inc_casoid,
            as: :boolean, 
            label: false,
            input_html: { :checked => "checked" }
          %>
        </div>
        <div class="offset-sm-0 col-sm-1 text-center">
          A <%= f.radio_button(:orden, :codigo, 
                               checked: @campoord == 'codigo') %>
          D <%= f.radio_button(:orden, :codigodesc, 
                               checked: @campoord == 'codigodesc') %>
        </div>
      </div>
      <div class="row filtro-fila">
        <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
          Presentación  
        </div>
        <div class="offset-sm-0 col-sm-2 offset-md-0 col-md-7">
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-1">
          <%= f.input :paginar, 
            as: :boolean, 
            label: 'Paginar',
            input_html: { checked: "checked" }
          %>
        </div>
      </div> <!-- row -->
      <% if @plantillas %>
        <div class="row filtro-fila">
          <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
            Generar Plantilla
          </div>
          <div class="offset-sm-1 col-sm-4">
            <%= f.input :disgenera,
              collection: @plantillas,
              label: false,
              include_blank: false
            %>
          </div>
          <div class="col-sm-2">
            <%= link_to t('Generar'), 
              '#',
              class: 'btn', 
              target: '_blank', 
              onclick: 'heb412_gen_completa_generarp(this, "#filtro_disgenera",
                "casos", "casos")' %>
          </div>
          <div class="col-sm-3">
          </div>
        </div> <!-- row -->
      <% end %> <!-- if @plantillas -->
    <% end %> <!-- if current_usuario -->

  <!--% end %-->
</div>
  <script>
    //Permite limpiar los campos que usan multiple select con chosen select
    $('button[type=reset]').on('click', function() {
      setTimeout(function() {
        $('.chosen-select').trigger('chosen:updated');
      }, 0);
    });
  </script>
