<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <%= simple_form_for @caso, 
    :url => sivel2_gen.casos_path(@caso).sub(/\./,"/"), 
    :html => { :class => 'form-horizontal' } do |f| 
  %>
    <div data-role="content" class="form-inputs">
      <div id="errores">
        <% if f.object.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-error">
              El formulario tiene 
              <%= pluralize(f.object.errors.count, "error") %>.
            </div>
            <ul>
              <% f.object.errors.full_messages.each do |msg| %>
                <li>* <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.error_notification %>
      </div>

      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#basicos" 
            class="fichacambia" aria-controls="basicos" role="tab" 
            data-toggle="tab">Datos Básicos</a></li>
          <li role="presentation"><a href="#ubicacion" class="fichacambia" 
            aria-controls="ubicacion" role="tab" 
            data-toggle="tab">Ubicación</a></li>
          <li role="presentation"><a href="#presponsable" class="fichacambia" 
            aria-controls="presponsable" role="tab" 
            data-toggle="tab">Presuntos Responsables</a></li>
          <li role="presentation"><a href="#victima" class="fichacambia" 
            aria-controls="victima" role="tab" 
            data-toggle="tab">Víctimas</a></li>
          <li role="presentation"><a href="#actos" class="fichacambia" 
            aria-controls="actos" role="tab" data-toggle="tab">Actos</a></li>
          <li role="presentation"><a href="#descripcion" class="fichacambia" 
            aria-controls="descripcion" role="tab" 
            data-toggle="tab">Descripción</a></li>
          <li role="presentation"><a href="#anexos" class="fichacambia" 
            aria-controls="anexos" role="tab" data-toggle="tab">Anexos</a></li>
          <li role="presentation"><a href="#etiquetas" class="fichacambia" 
            aria-controls="etiquetas" role="tab" 
            data-toggle="tab">Etiquetas</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="basicos">
            <%= render 'basicos', :f => f %>
          </div> 

          <div role="tabpanel" class="tab-pane" id="ubicacion">
            <%= render 'ubicaciones', :f => f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="presponsable">
            <%= render 'presponsables', :f => f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="victima">
            <%= render 'victimas', :f => f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="actos">
            <%= render 'actos', :f => f %> 
          </div>

          <div role="tabpanel" class="tab-pane" id="descripcion">
            <%= render 'memo', :f => f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="anexos">
            <%= render 'sivel2_gen/casos/anexos', :f => f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="etiquetas">
            <%= render 'etiquetas', :f => f %>
          </div>

        </div> <!-- tab-content -->
      </div> <!-- tabpanel -->
    </div> <!-- form-inputs -->

    <div class="form-actions" style="text-align: center">
      <%= f.button :submit, 'Validar y Guardar', :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        sivel2_gen.casos_path, :class => 'btn' 
      %>
    </div> <!-- form-action -->
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

