<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <!--script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
    </script-->
  <% @pestanas_formulariocaso = controller.pestanas_formulariocaso %>
  <%= simple_form_for @caso, 
    url: sivel2_gen.casos_path(@caso).sub(/\./,"/"), 
    html: { class: 'form-horizontal' } do |f| 
  %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <ul class="nav nav-tabs" role="tablist">
        <% primera = true %>
        <% @pestanas_formulariocaso.each do |p| %>
          <% idancla = Mr519Gen::ApplicationHelper.nombre_a_nombreinterno(p[:parcial]) %>
          <%= item_nav_pestaña_bs(
            idancla,
            Sivel2Gen::Caso.human_attribute_name(p[:titulo]),
            primera,
            'fichacambia')
          %>
          <% primera = false %>
        <% end %>
      </ul>

      <div class="tab-content">
        <% primera = true %>
        <% @pestanas_formulariocaso.each do |p| %>
          <% idancla = Mr519Gen::ApplicationHelper.
            nombre_a_nombreinterno(p[:parcial]) %>
          <%= contenido_pestaña_bs(idancla,primera) do %>
            <% if p[:parcial].starts_with?('Formulario::') %>
              <% #byebug %>
              <%= f.simple_fields_for :respuestafor, 
              f.object.respuestafor.joins(:formulario).
              where(
                'mr519_gen_formulario.nombreinterno = ?', 
                p[:parcial][12..-1]) do |r| %>
                <%= render partial: 'mr519_gen/encuestasusuario/campo_valorcampo', locals: {f: r}  %>
              <% end %>
            <% else %>
              <%= render p[:parcial], f: f %>
            <% end %>
          <% end %>
          <% primera = false %>
        <% end %>
      </div> <!-- tab-content -->

    </div> <!-- form-inputs -->

    <div class="form-actions" style="text-align: center">
      <input class='bitacora_cambio' id='caso_bictacora_cambio' name='caso[bitacora_cambio]' type='hidden'>
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()',
        'data-turbo' => false
      } %>
      <% id = @registro.id.to_s%>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
        modelos_path(@registro), :class => 'btn', id: 'btn-cancelar-caso', 
        onclick: 'javascript: sivel2_gen_cancelar_caso_eliminar_vacio(' + 
        id +')'
      %>
    </div> <!-- form-action -->
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

