<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <!--script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script-->
  <%= simple_form_for @caso, 
    url: sivel2_gen.casos_path(@caso).sub(/\./,"/"), 
    html: { class: 'form-horizontal' } do |f| 
  %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>
      
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#basicos" 
            class="fichacambia" aria-controls="basicos" role="tab" 
            data-toggle="tab">Datos Básicos</a></li>
          <li role="presentation"><a href="#ubicacion" class="fichacambia" 
            aria-controls="ubicacion" role="tab" 
            data-toggle="tab">Ubicación</a></li>
          <li role="presentation"><a href="#fuenteprensa" class="fichacambia" 
            aria-controls="fuenteprensa" role="tab" 
            data-toggle="tab">Fuentes Frecuentes</a></li>
          <li role="presentation"><a href="#fotra" class="fichacambia" 
            aria-controls="fotra" role="tab" 
            data-toggle="tab">Otras Fuentes</a></li>
          <li role="presentation"><a href="#contexto" class="fichacambia" 
            aria-controls="contexto" role="tab" 
            data-toggle="tab">Contexto</a></li>
          <li role="presentation"><a href="#presponsable" class="fichacambia" 
            aria-controls="presponsable" role="tab" 
            data-toggle="tab">Presuntos Responsables</a></li>
          <li role="presentation"><a href="#victima" class="fichacambia" 
            aria-controls="victima" role="tab" 
            data-toggle="tab">Víctimas</a></li>
          <li role="presentation"><a href="#victimacolectiva" class="fichacambia"
            aria-controls="victimacolectiva" role="tab" 
            data-toggle="tab">Víctimas Colectivas</a></li>
          <li role="presentation"><a href="#combatiente" class="fichacambia" 
            aria-controls="combatiente" role="tab" 
            data-toggle="tab">Combatientes</a></li>

          <li role="presentation"><a href="#actos" class="fichacambia" 
            aria-controls="actos" role="tab" data-toggle="tab">Actos</a></li>
          <li role="presentation"><a href="#descripcion" class="fichacambia" 
            aria-controls="descripcion" role="tab" 
            data-toggle="tab">Descripción</a></li>
          <li role="presentation"><a href="#anexos" class="fichacambia" 
            aria-controls="anexos" role="tab" data-toggle="tab">Anexos</a></li>
          <li role="presentation"><a href="#etiquetas" class="fichacambia" 
            aria-controls="etiquetas" role="tab" 
            data-toggle="tab">Etiquetas</a></li>
          <li role="presentation"><a href="#evaluacion" class="fichacambia" 
            aria-controls="evaluacion" role="tab" 
            data-toggle="tab">Evaluación</a></li>

        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="basicos">
            <%= render 'basicos', f: f %>
          </div> 

          <div role="tabpanel" class="tab-pane" id="ubicacion">
            <%= render 'ubicaciones', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="fuenteprensa">
            <%= render 'fuentesprensa', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="fotra">
            <%= render 'fotras', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="contexto">
            <%= render 'contextos', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="presponsable">
            <%= render 'presponsables', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="victima">
            <%= render 'victimas', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="victimacolectiva">
            <%= render 'victimascolectivas', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="combatiente">
            <%= render 'combatientes', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="actos">
            <%= render 'actos', f: f %> 
          </div>

          <div role="tabpanel" class="tab-pane" id="descripcion">
            <%= render 'memo', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="anexos">
            <%= render 'sivel2_gen/casos/anexos', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="etiquetas">
            <%= render 'etiquetas', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="evaluacion">
            <%= render 'evaluacion', f: f %>
          </div>


        </div> <!-- tab-content -->
      </div> <!-- tabpanel -->
    </div> <!-- form-inputs -->

    <div class="form-actions" style="text-align: center">
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
        sivel2_gen.casos_path, class: 'btn' 
      %>
    </div> <!-- form-action -->
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

