<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <%= simple_form_for @caso, 
    :url => sivel2_gen.casos_path(@caso).sub(/\./,"/"), 
    :html => { :class => 'form-horizontal' } do |f| 
  %>
    <div data-role="content" class="form-inputs">
      <div id="errores">
        <% if f.object.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-error">
              El formulario tiene <%= pluralize(f.object.errors.count, "error") %>.
            </div>
            <ul>
              <% f.object.errors.full_messages.each do |msg| %>
                <li>* <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %> 
        <%= f.error_notification %> 
      </div> <!-- erorres -->

      <div class="accordion" id="acordeon">

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#basicos">Datos Básicos</a>
          </div>
          <div id="basicos" class="accordion-body collapse in">
            <div class="accordion-inner">
              <%= render 'basicos', :f => f %>
            </div>
          </div>
        </div> <!-- accordion-group basicos -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#ubicacion">Ubicación</a>
          </div>
          <div id="ubicacion" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'ubicaciones', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Ubicacion -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#presponsable">Presuntos Responsables</a>
          </div>
          <div id="presponsable" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'presponsables', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Presuntos Responsable-->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#victima">Víctimas</a>
          </div>
          <div id="victima" class="accordion-body collapse">
            <div class="accordion-inner"> 
              <%= render 'victimas', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Victima -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#actos">Actos</a>
          </div>
          <div id="actos" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'actos', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Actos -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#descripcion">Descripción</a>
          </div>
          <div id="descripcion" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'memo', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Descripción -->

 
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#anexo">Anexos</a>
          </div>
          <div id="anexo" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'anexos', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Anexos -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#etiquetas">Etiquetas</a>
          </div>
          <div id="etiquetas" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'etiquetas', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Etiquetas -->

      </div> <!-- accordion -->
    </div> <!-- form-inputs -->

    <div class="form-actions">
      <%= f.button :submit, 'Validar y Guardar', :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        sivel2_gen.casos_path, :class => 'btn' 
      %>
    </div>
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

