<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script>
  <% @pestanas_formulariocaso = controller.pestanas_formulariocaso %>
  <%= simple_form_for @caso, 
    :url => sivel2_gen.casos_path(@caso).sub(/\./,"/"), 
    :html => { :class => 'form-horizontal' } do |f| 
  %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>


      <div class='accordion' id="acordeon-formv">

        <% bcol = '' %>
        <% aexp = 'true' %>
        <% colshow = ' show' # show para mostrar primero %>
        <% @pestanas_formulariocaso.each do |p| %>
          <% idancla = Mr519Gen::ApplicationHelper.nombre_a_nombreinterno(p[:parcial]) %>
          <div class="accordion-item">
            <h5 class="accordion-header mb-0" id="enc_<%= idancla %>">
              <button class="accordion-button collapsed fichacambia<%= bcol %>" 
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#col_<%= idancla %>"
                      aria-expanded="<%= aexp %>"
                      aria-controls="col_<%= idancla %>">
                      <%= Sivel2Gen::Caso.human_attribute_name(p[:titulo]) %>
              </button>
            </h5>

            <div class="accordion-collapse collapse<%= colshow %>" 
                 id="col_<%= idancla %>" 
                 aria-labelledby="enc_<%= idancla %>" 
                 data-bs-parent="#acordeon-formv">
              <div class="accordion-body">
                <% if p[:parcial].starts_with?('Formulario::') %>
                  <%= f.simple_fields_for :respuestafor, 
                    f.object.respuestafor.joins(:formulario).where('mr519_gen_formulario.nombre = ?', p[:parcial][12..-1]) do |r| %>
                    <%= render partial: 'mr519_gen/encuestasusuario/campo_valorcampo', locals: {f: r}  %>
                  <% end %>
                <% else %>
                  <%= render p[:parcial], f: f %>
                <% end %>

              </div> <!-- accordion-body -->
            </div> <!-- accordion-collapse -->

          </div> <!-- accordion-item -->

          <% bcol = ' collapsed' %>
          <% aexp = 'false' %>
          <% colshow = ' ' %>
        <% end %>

      </div> <!-- accordion -->

    </div> <!-- form-inputs -->

    <div class="form-actions">
      <input class='bitacora_cambio' id='caso_bictacora_cambio' name='caso[bitacora_cambio]' type='hidden'>
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        sivel2_gen.casos_path, :class => 'btn' 
      %>
    </div>
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

