<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <%= simple_form_for @caso, 
    :url => sivel2_gen.casos_path(@caso).sub(/\./,"/"), 
    :html => { :class => 'form-horizontal' } do |f| %>
    <div data-role="content" class="form-inputs">
      <div id="errores">
        <% if f.object.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-error">
              El formulario tiene <%= pluralize(f.object.errors.count, "error") %>.
            </div>
            <ul>
              <% f.object.errors.full_messages.each do |msg| %>
                <li>* <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div role="tabpanel">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#basicos" class="cambiaficha" aria-controls="basicos" role="tab" data-toggle="tab">Datos Básicos</a></li>
          <li role="presentation"><a href="#ubicacion" class="cambiaficha" aria-controls="ubicacion" role="tab" data-toggle="tab">Ubicación</a></li>
          <li role="presentation"><a href="#presponsable" class="cambiaficha" aria-controls="presponsable" role="tab" data-toggle="tab">Presuntos Responsables</a></li>
          <li role="presentation"><a href="#victima" class="cambiaficha" aria-controls="victima" role="tab" data-toggle="tab">Víctimas</a></li>
          <li role="presentation"><a href="#actos" class="cambiaficha" aria-controls="actos" role="tab" data-toggle="tab">Actos</a></li>
          <li role="presentation"><a href="#descripcion" class="cambiaficha" aria-controls="descripcion" role="tab" data-toggle="tab">Descripción</a></li>
          <li role="presentation"><a href="#anexos" class="cambiaficha" aria-controls="anexos" role="tab" data-toggle="tab">Anexos</a></li>
          <li role="presentation"><a href="#etiquetas" class="cambiaficha" aria-controls="etiquetas" role="tab" data-toggle="tab">Etiquetas</a></li>
        </ul>
        <div class="tab-content">
          <div id="basicos" role="tabpanel" class="tab-pane active">
            <%= render 'datosbasicos', :f => f %>
          </div> 

          <div id="ubicacion" role="tabpanel" class="tab-pane">
            <%= f.simple_fields_for :ubicacion do |ubicacion| %>
              <%= render 'ubicacion_fields', :f => ubicacion %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'Añadir Ubicación', f, 
                :ubicacion, { :class => 'btn-primary',
                  "data-ajax" => "/ubicaciones/nuevo", 
                  "data-ajaxdata" => "caso_id" }
              %>
            </div>
          </div>

          <div id="presponsable" role="tabpanel" class="tab-pane">
            <%= f.simple_fields_for :caso_presponsable do |caso_presponsable| %>
              <%= render 'caso_presponsable_fields', 
                :f => caso_presponsable 
              %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'Añadir Presunto Responsable', f, 
                :caso_presponsable, {:class => 'btn-primary', 
                  "data-ajax" => "/presponsables/nuevo", 
                  "data-ajaxdata" => "caso_id"}
              %>
            </div>
          </div>

          <div id="victima" role="tabpanel" class="tab-pane">
            <%= f.simple_fields_for :victima do |victima| %>
              <%= render 'victima_fields', :f => victima %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'Añadir Víctima', f, :victima, 
                { :class => 'btn-primary',
                  "data-ajax" => "/victimas/nuevo", 
                  "data-ajaxdata" => "caso_id" } 
              %>
            </div>
          </div>

         <div id="actos" role="tabpanel" class="tab-pane">
           <%= f.simple_fields_for :acto do |a| %>
             <%= render 'acto_fields', :f => a %>
           <% end %>
           <div class="links">
             <%= link_to_add_association 'Añadir Acto', f, :acto, 
               :class => 'btn-primary' 
             %>
           </div>
         </div>

         <div id="descripcion" role="tabpanel" class="tab-pane">
            <%= render 'descripcion', :f => f %>
         </div>

 
         <div id="anexos" role="tabpanel" class="tab-pane">
           <%= f.simple_fields_for :anexo do |anexo| %>
             <%= render 'anexo_fields', :f => anexo %>
           <% end %>
           <div class="links">
             <%= link_to_add_association 'Añadir Anexo', f, 
               :anexo, :class => 'btn-primary' 
             %>
           </div>
         </div>

         <div id="etiquetas" role="tabpanel" class="tab-pane">
           <%= f.simple_fields_for :caso_etiqueta do |cetiqueta| %>
             <%= render 'caso_etiqueta_fields', :f => cetiqueta %>
           <% end %>
           <div class="links">
             <%= link_to_add_association 'Añadir Etiqueta', f, 
               :caso_etiqueta, :class => 'btn-primary' 
             %>
           </div>
        </div>
      </div> <!-- tab-content -->

    <div class="form-actions" style="text-align: center">
      <%= f.button :submit, 'Validar y Guardar', :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        sivel2_gen.casos_path, :class => 'btn' 
      %>
    </div>
  </div> <!-- tabpanel -->
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

