<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script>
  <% @pestanas_formulariocaso = controller.pestanas_formulariocaso %>
  <%= simple_form_for @caso, 
    :url => sivel2_gen.casos_path(@caso).sub(/\./,"/"), 
    :html => { :class => 'form-horizontal' } do |f| 
  %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>


      <div class='accordion' id="acordeon-formv">

        <% primera = true %>
        <% @pestanas_formulariocaso.each do |p| %>
          <% idancla = Mr519Gen::ApplicationHelper.nombre_a_nombreinterno(p[:parcial]) %>
          <%= item_acordeon_bs(
            'acordeon-formv', idancla, 
            Sivel2Gen::Caso.human_attribute_name(p[:titulo]), primera)  do %>
            <% if p[:parcial].starts_with?('Formulario::') %>
              <%= f.simple_fields_for :respuestafor, 
                f.object.respuestafor.joins(:formulario).where('mr519_gen_formulario.nombre = ?', p[:parcial][12..-1]) do |r| %>
                <%= render partial: 'mr519_gen/encuestasusuario/campo_valorcampo', locals: {f: r}  %>
              <% end %>
            <% else %>
              <%= render p[:parcial], f: f %>
            <% end %>
          <% end %>

          <% primera = false %>
        <% end %>

      </div> <!-- accordion -->

    </div> <!-- form-inputs -->

    <div class="form-actions">
      <input class='bitacora_cambio' id='caso_bitacora_cambio' name='caso[bitacora_cambio]' type='hidden'>
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()',
        'data-turbo' => false
      } %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        sivel2_gen.casos_path, :class => 'btn' 
      %>
    </div>
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

