<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script>
  <%= simple_form_for @caso, 
    :url => sivel2_gen.casos_path(@caso).sub(/\./,"/"), 
    :html => { :class => 'form-horizontal' } do |f| 
  %>
    <div data-role="content" class="form-inputs"  style="background: #730E15">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <div class="accordion" id="acordeon">

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#basicos">Datos Básicos</a>
          </div>
          <div id="basicos" class="accordion-body collapse in">
            <div class="accordion-inner">
              <%= render 'basicos', :f => f %>
            </div>
          </div>
        </div> <!-- accordion-group basicos -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#ubicacion">Ubicación</a>
          </div>
          <div id="ubicacion" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'ubicaciones', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Ubicacion -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#fuenteprensa">Fuentes Frecuentes</a>
          </div>
          <div id="fuenteprensa" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'fuentesprensa', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Fuente Prensa-->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#fotra">Otras Fuentes</a>
          </div>
          <div id="fotra" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'fotras', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Otras fuentes -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#contexto">Contexto</a>
          </div>
          <div id="contexto" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'contextos', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Contexto -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#presponsable">Presuntos Responsables</a>
          </div>
          <div id="presponsable" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'presponsables', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Presuntos Responsable-->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#victima">Víctimas</a>
          </div>
          <div id="victima" class="accordion-body collapse">
            <div class="accordion-inner"> 
              <%= render 'victimas', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Victima -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#victimacolectiva">Víctimas Colectivas</a>
          </div>
          <div id="victimacolectiva" class="accordion-body collapse">
            <div class="accordion-inner"> 
              <%= render 'victimascolectivas', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Victima Colectiva -->


        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#combatiente">Combatientes</a>
          </div>
          <div id="combatiente" class="accordion-body collapse">
            <div class="accordion-inner"> 
              <%= render 'combatientes', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Combatiente-->


        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#actos">Actos</a>
          </div>
          <div id="actos" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'actos', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Actos -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#descripcion">Descripción</a>
          </div>
          <div id="descripcion" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'memo', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Descripción -->

 
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#anexo">Anexos</a>
          </div>
          <div id="anexo" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'anexos', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Anexos -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#etiquetas">Etiquetas</a>
          </div>
          <div id="etiquetas" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'etiquetas', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Etiquetas -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle fichacambia" data-toggle="collapse" 
              href="#evaluacion">Evaluación</a>
          </div>
          <div id="evaluacion" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'evaluacion', :f => f %>
            </div>
          </div>
        </div> <! -- accordion-group Contexto -->


      </div> <!-- accordion -->
    </div> <!-- form-inputs -->

    <div class="form-actions">
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        sivel2_gen.casos_path, :class => 'btn' 
      %>
    </div>
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

