<table class="table table-striped">
  <thead>
    <tr>
      <% for i in @incluir do %>
        <th><%= Sivel2Gen::Caso.human_attribute_name(i.to_sym) %></th>
      <% end %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if @usa_consexpcaso %>
      <% cons = @consexpcaso %>
    <% else %>
      <% cons = @conscaso %>
    <% end %>

    <% cons.try(:each) do |caso| %>
      <tr>
        <% for i in @incluir do %>
          <td>
            <% if i == 'casoid' %>
              <%= link_to caso.caso_id, sivel2_gen.caso_path(caso.caso_id) %>
            <% elsif i == 'memo' && @cortamemo > 0 && caso[i] &&
              caso[i].length > @cortamemo %>
              <%= caso[i].slice(0, @cortamemo) + ' ...' %>
            <% else %>
              <% #byebug %>
              <%= caso[i] if caso[i] %>
              <% if i == 'victimas' %>
                <% hayind = caso[i] && caso[i].strip.length > 0 %>
                <% gps = Sivel2Gen::Victimacolectiva.where(id_caso: caso.caso_id).pluck(:id_grupoper)%>
                <% if gps.count> 0 && (!params || !params[:filtro] || 
                    !params[:filtro][:inc_victimacol] || 
                    params[:filtro][:inc_victimacol] != '0') %>
                  <% haycol = true %>
                  <% if hayind %>
                    </br>
                  <% end %>
                  <%= Sip::Grupoper.where(id: gps).pluck(:nombre).join(", ")%>
                <% end %>
                <% com = Sivel2Gen::Combatiente.where(id_caso: caso.caso_id)%>
                <% if com.count > 0 %>
                  <% if hayind || haycol %>
                    </br>
                  <% end %>
                  <%= com.pluck(:nombre).join(", ")%>
                <% end %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <td>
          <% if can?(:solocambiaretiquetas, Sivel2Gen::Caso) ||
              can?(:solocambiaretiquetas, caso) %>
            <%= link_to 'Cambiar etiquetas',
              sivel2_gen.edit_caso_path(caso.caso_id), :class => 'btn btn-sm' %>
          <% elsif can?(:update, Sivel2Gen::Caso) || can?(:edit, caso) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
              sivel2_gen.edit_caso_path(caso.caso_id), :class => 'btn btn-sm' %>
          <% end %>
          <% if can?(:destroy, Sivel2Gen::Caso) || can?(:destroy, caso) %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
               sivel2_gen.caso_path(caso.caso_id),
               :method => :delete,
               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Está seguro(a)?')) },
               :class => 'btn btn-sm btn-danger'
          %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @paginar && defined?(cons.total_pages) %>
  <%= pagina cons,  { param_name: :pagina, class: 'page-link'} %>
<% end %>
