<table class="table table-striped">
  <thead>
    <tr>
      <% for i in @incluir do %>
        <th><%= Sivel2Gen::Caso.human_attribute_name(i.to_sym) %></th>
      <% end %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @conscaso.try(:each) do |caso| %>
      <tr>
        <% for i in @incluir do %>
          <td>
            <% if i == 'casoid' %>
              <%= link_to caso.caso_id, sivel2_gen.caso_path(caso.caso_id) %>
            <% else %>
                <%= caso[i]%>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            sivel2_gen.edit_caso_path(caso.caso_id), :class => 'btn btn-xs' 
          %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            sivel2_gen.caso_path(caso.caso_id),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Está seguro(a)?')) },
            :class => 'btn btn-xs btn-danger' 
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @paginar %>
  <%= pagina @conscaso,  { param_name: :pagina} %>
<% end %>
