<table class="table table-striped">
  <thead>
    <tr>
      <% for i in @incluir do %>
        <th><%= Sivel2Gen::Caso.human_attribute_name(i.to_sym) %></th>
      <% end %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if @usa_consexpcaso %>
      <% cons = @consexpcaso %>
    <% else %>
      <% cons = @conscaso %>
    <% end %>

    <% cons.try(:each) do |caso| %>
      <tr>
        <% for i in @incluir do %>
          <td>
            <% if i == 'casoid' %>
              <%= link_to caso.caso_id, sivel2_gen.caso_path(caso.caso_id) %>
            <% elsif i == 'memo' && @cortamemo > 0 && caso[i] &&
              caso[i].length > @cortamemo %>
              <%= caso[i].slice(0, @cortamemo) + ' ...' %>
            <% elsif i == 'tipificacion' %>
              <% haytip = false %>
              <% haycatcol = false %>
              <% if caso[i] && caso[i].strip.length > 0 %>
                <%= caso[i] %>
                <% haytip = true %>
              <% end %>
              <% ids_catcol = Sivel2Gen::Actocolectivo.where(id_caso: caso.caso_id).pluck(:id_categoria)%>
              <% if ids_catcol.count > 0 %>
                <% haycatcol = true %>
                <% if haytip %>
                  </br>
                <% end %>
                <% catcol = Sivel2Gen::Categoria.where(id: ids_catcol) %>
                <%= catcol.inject("") {|memo, r| 
                  (memo == "" ? "" : memo + ", ") + 
                    r.supracategoria.id_tviolencia + ':' +
                    r.supracategoria.codigo.to_s + ':' +
                    r.id.to_s + ' ' + r.nombre} %>
              <% end %>
              <% ids_casopres = Sivel2Gen::CasoPresponsable.where(id_caso: caso.caso_id).pluck(:id) %>
              <% ids_cat = Sivel2Gen::CasoCategoriaPresponsable.where(id_caso_presponsable: ids_casopres).pluck(:id_categoria) %>
              <% if ids_cat.count > 0 %>
                <% if haytip || haycatcol%>
                  </br>
                <% end %>
                <% catsinv = Sivel2Gen::Categoria.where(id: ids_cat) %>
                <%= catsinv.inject("") {|memo, r| 
                  (memo == "" ? "" : memo + ", ") + 
                    r.supracategoria.id_tviolencia + ':' +
                    r.supracategoria.codigo.to_s + ':' +
                    r.id.to_s + ' ' + r.nombre} %>

              <% end %>

            <% elsif i == 'victimas' %>
              <%= caso[i] if caso[i] %>
              <% hayind = caso[i] && caso[i].strip.length > 0 %>
              <% haycol = false %>
              <% gps = Sivel2Gen::Victimacolectiva.where(id_caso: caso.caso_id).pluck(:id_grupoper)%>
              <% if gps.count> 0 && (!params || !params[:filtro] || 
                  !params[:filtro][:inc_victimacol] || 
                  params[:filtro][:inc_victimacol] != '0') %>
                <% haycol = true %>
                <% if hayind %>
                  </br>
                <% end %>
                <%= Sip::Grupoper.where(id: gps).pluck(:nombre).join(", ")%>
              <% end %>
              <% com = Sivel2Gen::Combatiente.where(id_caso: caso.caso_id)%>
              <% if com.count > 0 %>
                <% if hayind || haycol %>
                  </br>
                <% end %>
                <%= com.pluck(:nombre).join(", ")%>
              <% end %>

            <% else %>
              <% #byebug %>
              <%= caso[i] if caso[i] %>
            <% end %>
          </td>
        <% end %>
        <td>
          <% vcaso = Sivel2Gen::Caso.where(id: caso.caso_id).take %>
          <% if can?(:solocambiaretiquetas, Sivel2Gen::Caso) ||
              can?(:solocambiaretiquetas, caso) %>
            <%= link_to 'Cambiar etiquetas',
              sivel2_gen.edit_caso_path(caso.caso_id), :class => 'btn btn-sm' %>
          <% elsif vcaso && can?(:edit, vcaso) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
              sivel2_gen.edit_caso_path(caso.caso_id), :class => 'btn btn-sm' %>
          <% end %>
          <% if vcaso && can?(:destroy, vcaso) %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
               sivel2_gen.caso_path(caso.caso_id),
               :method => :delete,
               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Está seguro(a)?')) },
               :class => 'btn btn-sm btn-danger'
          %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @paginar && defined?(cons.total_pages) %>
  <%= pagina cons,  { param_name: :pagina, class: 'page-link'} %>
<% end %>
