<% porVic = {} %>
<% lvic = {}%>
<% presponsables = Sivel2Gen::Acto.where(caso_id: caso_id).pluck(:presponsable_id) + Sivel2Gen::Actocolectivo.where(caso_id: caso_id).pluck(:presponsable_id) %>
<% presponsables.uniq.each do |pr| %>
  <% h1 = {} %>
  <% categorias = Sivel2Gen::Acto.where(caso_id: caso_id).where(presponsable_id: pr).pluck(:categoria_id) + Sivel2Gen::Actocolectivo.where(caso_id: caso_id).where(presponsable_id: pr).pluck(:categoria_id) %>
  <% categorias.uniq.each do |ca|%>
    <% personas = Sivel2Gen::Acto.where(caso_id: caso_id).where(presponsable_id: pr).where(categoria_id: ca).pluck(:persona_id).map{|p| 'i'+ p.to_s } %>
    <% grupoper = Sivel2Gen::Actocolectivo.where(caso_id: caso_id).where(presponsable_id: pr).where(categoria_id: ca).pluck(:grupoper_id).map{|g| 'c'+ g.to_s }%>
    <% h1[ca]= (personas.uniq + grupoper.uniq).sort %>
    <% porVic[pr] = h1%>
  <% end %>
<% end %>
<% caso.victima.each do |v| %>
  <% nvc = Msip::Persona.find(v.persona_id).nombres +
    ' ' + Msip::Persona.find(v.persona_id).apellidos %> 
  <% sector = Sivel2Gen::Sectorsocial.find(v.sectorsocial_id).nombre %>
  <% # Agrega sector social principal %>
  <% if sector != "SIN INFORMACIÓN"  %>
    <% nvc +=  ' - ' + sector %>
  <% end %>
  <% # Agrega sectores sociales secundarios reporte general %>
  <% if repgeneral %>
    <% sectoressecids = Sivel2Gen::SectorsocialsecVictima.where(victima_id: v.id).pluck(:sectorsocial_id) %>
    <% sectoressec = sectoressecids.map{|sec| Sivel2Gen::Sectorsocial.find(sec).nombre}.join(" / ") %>
    <% if sectoressecids.count > 0 %>
      <% nvc +=  ' - ' + sectoressec %>
    <% end %>
  <% end %>
  <% prof = Sivel2Gen::Profesion.find(v.profesion_id).nombre %>
  <% if prof != "SIN INFORMACIÓN" %>
    <% nvc += ' - ' + prof %>
  <% end %>
  <% #byebug %>
  <% if repgeneral %>
    <% if v.hijos %>
      <% nvc += ' - ' + v.hijos.to_s + 'hijos' %>
    <% end %>
    <% fil = Sivel2Gen::Filiacion.find(v.filiacion_id).nombre %>
    <% if fil != "SIN INFORMACIÓN" %>
      <% nvc += ' - ' + fil %>
    <% end %>
    <% if v.anotaciones && v.anotaciones != "" %>
      <% nvc += ' - ' + v.anotaciones %>
    <% end %>
    <% org = Sivel2Gen::Organizacion.find(v.organizacion_id).nombre %>
    <% if org != "SIN INFORMACIÓN" %>
      <% nvc += ' - ' + org %>
    <% end %>
  <% end %>
  <% lvic['i'+ v.persona_id.to_s] = nvc %>
<% end %>
<% caso.victimacolectiva.each do |vc| %>
  <% nvc = Msip::Grupoper.find(vc.grupoper_id).nombre %>
  <% if repgeneral %>
    <% etniasid =  Sivel2Gen::EtniaVictimacolectiva.where(
      victimacolectiva_id: vc.id).pluck(:etnia_id)%>
    <% etnias = etniasid.map{|e| Msip::Etnia.find(e).nombre}.join(" / ")%>
    <% lvic['c'+ vc.grupoper_id.to_s] = nvc + " - " + etnias %>
  <% else %>
    <% lvic['c'+ vc.grupoper_id.to_s] = nvc %>
  <% end %>
<% end %>

<!-- Agrupamos por categoria --> 
<% agcatarray= [] %>
<% agc = {} %>
<% porVic.keys.each do |pk|%>
  <% h2 = porVic[pk] %>
  <% h1 = h2.keys.group_by{|k| h2[k]} %>
  <% h2 = h1.invert()%>
  <% agcatarray = h2.to_a %>
  <% agc[pk] = agcatarray.to_h%>
<% end %>

<!-- Agrupamos por presuntos responsables --> 
<% agpr = {} %>
<% agpraa = {} %>
<% agprarray= [] %>
<% porVic.keys.each do |pk|%>
  <% porVic[pk].to_a.each do |pv| %>
    <% pv = [pv].to_h %>
    <% if agpraa[pv] %>
      <% agprarray = [agpraa[pv], pk] %>
    <% else %>
      <% agprarray = pk %>
    <% end %>
    <% agpraa[pv] = agprarray %>
    <% agpr = agpraa.keys.group_by{|k| agpraa[k] }%>
  <% end %>
<% end %>
<% agpr.keys.each do |pk|%>
  <% h2 = agpr[pk] %>
  <% hi = {} %>
  <% h2.each do |ar| %>
    <% hi = hi.merge(ar) %>
  <% end %>
  <% h1 = hi.keys.group_by{|k| hi[k]} %>
  <% h2 = h1.invert()%>
  <% agcatarray = h2.to_a %>
  <% agpr[pk] = agcatarray.to_h%>
<% end %>

<!-- Categorias sin Victimas -->
<% asinv = {} %>
<% prs = Sivel2Gen::CasoPresponsable.where(caso_id: caso_id) %>
<% prs.each do |cpr|  %>
  <% csinv = Sivel2Gen::CasoCategoriaPresponsable.where(caso_presponsable_id: cpr.id).pluck(:categoria_id) %>
  <% if !csinv.empty? %>
    <% csinv.sort.each do |cv|%>
      <% if asinv[cv] %>
        <% asinv[cv] += [cpr.presponsable_id] %>
        <% asinv[cv] = asinv[cv].sort %>
      <% else %>
        <% asinv[cv] = [cpr.presponsable_id] %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% aspr = {} %>
<% asinv.each do |imc, lipr| %>
  <% if aspr[lipr] %>
    <% aspr[lipr] += [imc] %>
    <% aspr[lipr] = aspr[lipr].sort %>
  <% else %>
    <% aspr[lipr] = [imc] %>
  <% end %>
<% end %>

<!-- Presentacion de datos -->
<!-- Presponsables, categorias y victimas pueden presentarse: -->
<!-- porVic: victimas agrupadas (por defecto) -->
<!-- agc: categorias agrupadas -->
<!-- agpr: presponsables agrupados -->
<% por = porVic %>
<% agc.keys.each do |cc|%>
  <% agc[cc].keys.each do |lc|%>
    <% if lc.is_a? Array %>
      <% por = agc %>
    <% end %>
  <% end %>
<% end %>
<% agpr.keys.each do |kpr|%>
  <% if kpr.is_a? Array %>
    <% por = agpr %>
  <% end %>
<% end %>
<% aspr.each do |lpr, lcat| %>
  <% ipr = lpr %>
  <% if !por[ipr] && lpr.length == 1 %>
    <% ipr = lpr[0]  %>
  <% end %>
  <% if !por[ipr] %>
    <% por[ipr] = {} %>
  <% end %>
  <% if !por[ipr][lcat] %>
    <% por[ipr][lcat] = [-1] # Convención sin víctima %> 
  <% end %>
<% end %>

<% por.keys.each do |pr|%>
  <% if pr.is_a? Integer %>
    <br>
    Presunto Responsable: <%= Sivel2Gen::Presponsable.find(pr).nombre_con_polo %> <br>
  <% else %>
    <br>
    Presuntos Responsables:
    <% pr.each_with_index do |pri, i|%>
      <%= "Y" if i != 0 %>
      <% if pri.is_a? Array %>
        <%= Sivel2Gen::Presponsable.find(pri.flatten).map(&:nombre_con_polo).join(" Y ") %> 
      <% else %>
        <%= Sivel2Gen::Presponsable.find(pri).nombre_con_polo %> 
      <% end %>
    <% end %><br>
  <% end %>
  <% if por[pr].is_a? Array %>
    <% por[pr] = por[pr][0]%> 
  <% end %>
  <% por[pr].keys.each do |ct|%>
    <% if ct.is_a? Integer %>
      <% supraid = Sivel2Gen::Categoria.find(ct).supracategoria_id%>
      <% tviolencia = Sivel2Gen::Supracategoria.find(supraid).tviolencia_id if supraid%>
      <% tv_nombre = Sivel2Gen::Tviolencia.find(tviolencia).nombre if tviolencia%>
      <% supra_nombre = Sivel2Gen::Supracategoria.find(supraid).nombre if supraid%>
      <br><%= tv_nombre %><br>
      <%= Sivel2Gen::Categoria.find(ct).nombre.titleize %> por <%= supra_nombre.titleize %><br>
    <% else %>
      <br>
      <% ct.each do |cti| %>
        <% supraid = Sivel2Gen::Categoria.find(cti).supracategoria_id%>
        <% tviolencia = Sivel2Gen::Supracategoria.find(supraid).tviolencia_id if supraid %>
        <% tv_compara = Sivel2Gen::Tviolencia.find(tviolencia).nombre if tviolencia %>
        <% if tv_nombre && tv_nombre == tv_compara %>
          <% tv_nombre = Sivel2Gen::Tviolencia.find(tviolencia).nombre if tviolencia %>
        <% else %>
          <% tv_nombre = Sivel2Gen::Tviolencia.find(tviolencia).nombre if tviolencia%>
          <%= tv_nombre %><br>
        <% end %>
        <% supra_nombre = Sivel2Gen::Supracategoria.find(supraid).nombre if supraid%>
        <%= Sivel2Gen::Categoria.find(cti).nombre.titleize %> por <%= Msip::LocalizaHelper.capitaliza_titulo(supra_nombre) %><br>
      <% end %>
    <% end %>
    <br>
    <% #byebug %>
    <% nns = {} %>
    <% por[pr][ct].each do |idv|%>
      <% if idv != -1 && lvic[idv] && lvic[idv].split("-")[0].strip == "N N" %>
        <% rnn = lvic[idv].split("-")[1..-1].join("-") %>
        <% if nns[rnn] %>
          <% nns[rnn] += 1 %>
        <% else %>
          <% nns[rnn] = 1 %>
        <% end %>
      <% elsif idv != -1 %>
        <% # Excluimos profesion %>
        <% if repgeneral %>
          <% rnn = lvic[idv] %>
          <%= rnn.to_s %><br>
        <% else %>
          <% rnn = lvic[idv] ? lvic[idv].split("-")[0..2].join("-") : ''  %>
          <%= rnn %><br>
        <% end %>
      <% end %>
    <% end %>
    <% nns.keys.each do |nn| %>
      <% if nns[nn] == 1 %>
        <%= "PERSONA SIN IDENTIFICAR - " + nn %>
      <% else %>
        <%= nns[nn].to_s + " PERSONAS SIN IDENTIFICAR - " + nn %>
      <% end %>
      <br> 
    <% end %>
  <% end %>
<% end %>

<% vcom = Sivel2Gen::Combatiente.where(caso_id: caso_id) %>
<% if !vcom.empty? %>
  <p>
  Víctimas Combatientes:
  <% vcom.each do |vc| %>
    <br>
    <%= vc.nombre %>
    <%= vc.alias.to_s != "" ? "(Alias: #{vc.alias.to_s})" : "" %>
    <br>
    <% resagre = Sivel2Gen::Resagresion.find(vc.resagresion_id) %>
    <%= resagre.nombre %><br>
    <% orgar = Sivel2Gen::Presponsable.find(vc.organizacionarmada).nombre %>
    <%= "Organización Armada Víctima: #{orgar}" %>
  <% end %>
  </p>
<% end %>

