<tt>
  <p style="margin: 0; padding: 0">
  <% #byebug %>
  CASO No. <a href=<%= caso_path(caso.id) %>><%= caso.id%></a>
  </p>
  <p>
  Fecha: 
  <%= caso.fecha if caso.fecha%> 
  <% if current_usuario %>
    <%= caso.hora if caso.hora%> 
    <%= caso.intervalo.nombre if caso.intervalo%>
  <% end %>
  <% ubprincipal = nil %>
  <% if caso.ubicacion_id %>
    <% ubprincipal = Sip::Ubicacion.find(caso.ubicacion_id) %>
    <%= "Tip. Ub: " + Sip::Tsitio.find(ubprincipal.id_tsitio).nombre %>
  <% end %>
  </p>

  <% if current_usuario %>
    <% unless caso.region.empty? %>
      <p style="margin: 0; padding: 0">
      Región (es):
      <% caso.region.each_with_index do |re, i| %>
        <%= re.nombre if re.nombre %>
        <% next if i== caso.region.size-1 %>
        /
      <% end %>
      </p>
    <% end %>
    <% unless caso.frontera.empty? %>
      <p style="margin: 0; padding: 0">
      Frontera(s): 
      <% caso.frontera.each.with_index do |fr, i| %>
        <%= fr.nombre if fr.nombre %>
        <% next if i== caso.frontera.size-1 %>
        /
      <% end %>
      </p>
    <% end %>
  <% end # if current_usuario %> 

  <p style="margin: 0; padding: 0">
  <%= ubprincipal.departamento.nombre if ubprincipal && ubprincipal.departamento%> / 
  <%= ubprincipal.municipio.nombre if ubprincipal && ubprincipal.municipio%> /
  <%= ubprincipal.clase.nombre if ubprincipal && ubprincipal.clase%>
  </p>
  <% if current_usuario %>
    <% caso.ubicacion.each do |ub| %>
      <% next if ub.id == caso.ubicacion_id %>
      <p style="margin: 0; padding: 0">
      <%= ub.departamento.nombre if ub.departamento%> / 
      <%= ub.municipio.nombre if ub.municipio%> /
      <%= ub.clase.nombre if ub.clase%>
      (Secundaria)
      </p>
    <% end %>
  <% end # if current_usuario %> 

  <% if current_usuario %>
    <% fuentes = Sivel2Gen::CasoFuenteprensa.where(id_caso: caso.id) %>
    <% unless fuentes.length == 0 %>
      <p style="margin: 0; padding: 0">
      Fuente: 
      <% fuentes.each do |fr| %>
        <%= fr.fuenteprensa.nombre if fr.fuenteprensa.nombre %>-
        <%= fr.fecha if fr.fecha %>-
        <%= fr.ubicacionfisica if fr.ubicacionfisica %>
      <% end %>
      </p>
    <% end %>
    <% otrasfuentes = Sivel2Gen::CasoFotra.where(id_caso: caso.id) %>
    <% unless otrasfuentes.length == 0 %>
      Otras fuentes Prensa: 
      <p style="margin: 0; padding: 0">
      <% otrasfuentes.each do |fr| %>
        <%= fr.nombre if fr.nombre %>-
        <%= fr.fecha if fr.fecha %>-
        <%= fr.ubicacionfisica if fr.ubicacionfisica %>
      <% end %>
      </p>
    <% end %>
  <% end # current_usuario %>

  <table>
    Memo:
    <tr>
      <td>
        <%= caso.memo %>
      </td>
    </tr>
  </table>

  <% if current_usuario %>
    <% anexo = Sivel2Gen::AnexoCaso.where(id_caso: caso.id) %>
    <% unless anexo.length == 0 %>
      ANEXO(S):
      <p>
      <% anexo.each do |an| %>
        <%= an.fecha if an.fecha %>-
        <%= link_to sip.descarga_anexo_path(an.id_anexo.to_i),
          'data-turbolinks' => :false do %>
          <%= caso.id %>_<%= Sip::Anexo.find(an.id_anexo).adjunto_file_name %>
        <% end %>
      <% end %>
      </p>
    <% end %>

    <% unless caso.contexto.empty? %>
      <p>
      Contexto(s): 
      <% caso.contexto.each.with_index do |co, i| %>
        <%= co.nombre if co.nombre %>
        <% next if i== caso.contexto.size-1 %>
        ,
      <% end %>
      </p>
    <% end %>
    <% unless caso.antecedente.empty? %>
      <p>
      Antecedentes: 
      <% caso.antecedente.each.with_index do |co, i| %>
        <%= co.nombre if co.nombre %>
        <% next if i== caso.antecedente.size-1 %>
        ,
      <% end %>
      </p>
    <% end %>
  <% end # current_usuario %>
  <p>
  <% lcat = {} %>
  <% caso.acto.each  do |a| %>
    <% lcat[a.id_categoria] = a.id_categoria %>
  <% end %>
  <% caso.actocolectivo.each do |ac|  %>
    <% lcat[ac.id_categoria] = ac.id_categoria %>
  <% end %>
  <% caso.caso_presponsable.each do |cp| %>
    <% cp.categoria_ids.each do |ci| %>
      <% lcat[ci] = ci %>
    <% end %>
  <% end %>
  <% lcat.keys.sort.each  do |idcat| %>
    <% dcategoria = Sivel2Gen::Categoria.find(idcat) %>
    <%= dcategoria.supracategoria.id_tviolencia + dcategoria.id.to_s %>. 
    <%= dcategoria.supracategoria.tviolencia.nombre %> - 
    <%= dcategoria.supracategoria.nombre %> - 
    <%= dcategoria.nombre %><br>
  <% end %>
  </p>

  <%= render partial: 'lista_pr_cat_victima', 
    locals: { caso: caso, caso_id: caso.id, repgeneral: true } %>

  <% if current_usuario %>
    <% caso.victima.each do |v| %>
      <% if caso.acto.where(id_persona: v.id_persona).count == 0 %>
        Víctima individual sin acto de violencia: 
        <%= v.persona.presenta_nombre %><br>
      <% end %>
    <% end %>
    <% caso.victimacolectiva.each do |vc| %>
      <% if caso.actocolectivo.where(id_grupoper: vc.id_grupoper).count == 0 %>
        Víctima colectiva sin acto de violencia: 
        <%= vc.grupoper.presenta_nombre %><br>
      <% end %>
    <% end %>
    <br>

    <% unless caso.caso_etiqueta.empty? %>
      Etiquetas:  
      <% caso.caso_etiqueta.each do |e|  %>
        <p style="margin: 0; padding: 0;">
        <%= Sip::Etiqueta.find(e.id_etiqueta).nombre %> -
        <%= e.fecha %> -
        <%= Sip::Usuario.find(e.id_usuario).nusuario if Sip::Usuario.where(id: e.id_usuario).count > 0 %> -
        <%= e.observaciones %>
        </p>
      <% end %>
    <% end %>

    <p>
    Analista(s):
    <% 
      # Se presenta una sola vez cada usuario que ha tocado, creado o
    # editado el caso con la fecha de la primera vez que lo tocó
    presentados = []
    bitacora = Sip::Bitacora.
      where(modelo: 'Sivel2Gen::Caso').
      where(modelo_id: caso.id).
      where("operacion IN ('iniciar', 'actualizar', 'tocar')").
      order(:fecha).each do |b| %>
      <% if !presentados.include?(b.usuario_id) %>
        <% if Sip::Usuario.where(id: b.usuario_id).count == 1 %> 
          <%= Sip::Usuario.where(id: b.usuario_id)[0].nusuario %> 
        <% end %>
        <%= b.fecha %><br> 
        <% presentados << b.usuario_id %>
      <% end %>
    <% end %>
    </p>
  <% end # current_usuario %>
</tt>

