<tt>
<p style="margin: 0; padding: 0">
CASO No. <a href=<%= caso_path %>><%= @caso.id%></a>
</p>
<p>
Fecha: <%= @caso.fecha if @caso.fecha%> <%= @caso.hora if @caso.hora%> <%= @caso.intervalo.nombre if @caso.intervalo%>
<% ubprincipal = nil %>
<% if @caso.ubicacion_id %>
  <% ubprincipal = Sip::Ubicacion.find(@caso.ubicacion_id) %>
  Tip. Ub:<%= Sip::Tsitio.find(ubprincipal.id_tsitio).nombre %>
<% end %>
</p>
<% unless @caso.region.empty? %>
  <p style="margin: 0; padding: 0">
  Región (es):
  <% @caso.region.each_with_index do |re, i| %>
    <%= re.nombre if re.nombre %>
    <% next if i== @caso.region.size-1 %>
    /
  <% end %>
<% end %>
</p>
<% unless @caso.region.empty? %>
  <p style="margin: 0; padding: 0">
  Frontera(s): 
  <% @caso.frontera.each.with_index do |fr, i| %>
    <%= fr.nombre if fr.nombre %>
    <% next if i== @caso.frontera.size-1 %>
    /
  <% end %>
  </p>
<% end %>
<p style="margin: 0; padding: 0">
  <%= ubprincipal.departamento.nombre if ubprincipal && ubprincipal.departamento%> / 
  <%= ubprincipal.municipio.nombre if ubprincipal && ubprincipal.municipio%> /
  <%= ubprincipal.clase.nombre if ubprincipal && ubprincipal.clase%>
</p>
<% @caso.ubicacion.each do |ub| %>
  <% next if ub.id == @caso.ubicacion_id %>
<p style="margin: 0; padding: 0">
  <%= ub.departamento.nombre if ub.departamento%> / 
  <%= ub.municipio.nombre if ub.municipio%> /
  <%= ub.clase.nombre if ub.clase%>
  (Secundaria)
  </p>
<% end %>

<% unless @caso.region.empty? %>
  <p style="margin: 0; padding: 0">
  Fuente: 
  <% fuentes = Sivel2Gen::CasoFuenteprensa.where(id_caso: @caso.id) %>
  <% fuentes.each do |fr| %>
    <%= fr.fuenteprensa.nombre if fr.fuenteprensa.nombre %>-
    <%= fr.fecha if fr.fecha %>-
    <%= fr.ubicacionfisica if fr.ubicacionfisica %>
  <% end %>
<% end %>
</p>
<% unless @caso.region.empty? %>
  Otras fuentes Prensa: 
  <% otrasfuentes = Sivel2Gen::CasoFotra.where(id_caso: @caso.id) %>
  <p style="margin: 0; padding: 0">
  <% otrasfuentes.each do |fr| %>
    <%= fr.nombre if fr.nombre %>-
    <%= fr.fecha if fr.fecha %>-
    <%= fr.ubicacionfisica if fr.ubicacionfisica %>
  <% end %>
  </p>
<% end %>
<table>
 Memo:
  <tr><td>
    <%= @caso.memo %>
  </td></tr>
</table>
<% unless @caso.region.empty? %>
  ANEXO(S):
  <% anexo = Sivel2Gen::AnexoCaso.where(id_caso: @caso.id) %>
  <p>
  <% anexo.each do |an| %>
    <%= an.fecha if an.fecha %>-
    <a href= "/sivel2/anexos/descarga_anexo/<%= an.id_anexo %>"><%= @caso.id %>_<%= Sip::Anexo.find(an.id_anexo).adjunto_file_name %></a>
  <% end %>
  </p>
<% end %>

<p>
Contexto(s): 
<% @caso.contexto.each.with_index do |co, i| %>
  <%= co.nombre if co.nombre %>
  <% next if i== @caso.contexto.size-1 %>
  ,
<% end %></p>
<p>
Antecedentes: 
<% @caso.antecedente.each.with_index do |co, i| %>
  <%= co.nombre if co.nombre %>
  <% next if i== @caso.antecedente.size-1 %>
  ,
<% end %></p>
<p>
<% codigos = {}%>
<% array_cods = []%>
<% @caso.acto.each do |ac| %>
  <% supraid = ac.categoria.supracategoria_id%>
  <% tviolencia = Sivel2Gen::Supracategoria.find(supraid).id_tviolencia if supraid%>
  <% codigo = Sivel2Gen::Tviolencia.find(tviolencia).id + ac.categoria.id.to_s if tviolencia%>
  <% pr = Sivel2Gen::Presponsable.find(ac.id_presponsable).nombre %>
  <% array_cods.push(codigo) %>
  <% codigos[pr] = array_cods %>
  <%= codigo %>.
  <%= Sivel2Gen::Tviolencia.find(tviolencia).nombre if tviolencia%>-
  <%= Sivel2Gen::Supracategoria.find(supraid).nombre if supraid%>-
  <%= ac.categoria.nombre%> 
<% end %>
</p>
<p>
<% @caso.actocolectivo.each do |ac| %>
  <% supraid = ac.categoria.supracategoria_id%>
  <% tviolencia = Sivel2Gen::Supracategoria.find(supraid).id_tviolencia if supraid%>
  <% codigo = Sivel2Gen::Tviolencia.find(tviolencia).id + ac.categoria.id.to_s if tviolencia%>
  <% pr = Sivel2Gen::Presponsable.find(ac.id_presponsable).nombre %>
  <% array_cods.push(codigo) %>
  <% codigos[pr] = array_cods %>
  <%= codigo %>.
  <%= Sivel2Gen::Tviolencia.find(tviolencia).nombre if tviolencia%>-
  <%= Sivel2Gen::Supracategoria.find(supraid).nombre if supraid%>-
  <%= ac.categoria.nombre%> 
<% end %>
</p>
<p style="margin: 0; padding: 0;">
Presunto Responsable: 
<% codigos.to_a.each_with_index do |par, i|%>
  <%= par[0] %>
  :
  <%= par[1].uniq.join(' / ') %>
  <% next if i== @caso.presponsable.size-1 %>
  ,
<% end %>
</p>
<div style= "margin-left: 3rem;">
<% @caso.victima.each do |v|  %>
  <p style="margin: 0; padding: 0;">
  <%= Sip::Persona.find(v.id_persona).nombres +
    ' ' + Sip::Persona.find(v.id_persona).apellidos %> 
  -
  <%= Sivel2Gen::Sectorsocial.find(v.id_sectorsocial).nombre%>
  </p>
<% end %>
</div>
  
<p>
Analista(s):
<% 
  # Se presenta una sola vez cada usuario que ha tocado el caso
  # con la fecha de la primera vez que lo tocó
  presentados = []
  casousuarios = Sivel2Gen::CasoUsuario.
  where(id_caso: @caso.id).order(:fechainicio).each do |us| %>
  <% if !presentados.include?(us.id_usuario) %>
    <% if Sip::Usuario.where(id: us.id_usuario).count == 1 %> 
      <%= Sip::Usuario.where(id: us.id_usuario)[0].nombre %> 
    <% end %>
    <%= us.fechainicio %> 
    <% presentados << us.id_usuario %>
  <% end %>
<% end %>
</p>
</tt>

