<p><tt>CASO No. <a href=<%= caso_path %>><%= @caso.id%></a></p></tt>
<p><tt>Fecha: <%= @caso.fecha if @caso.fecha%> <%= @caso.intervalo.nombre if @caso.intervalo%></p></tt>
<tt> Región (es):
<% @caso.region.each_with_index do |re, i| %>
  <%= re.nombre if re.nombre %>
  <% next if i== @caso.region.size-1 %>
  /
<% end %></tt>
<p><tt>Ubicaciones: </tt>
<% @caso.ubicacion.each do |ub| %>
  <p><tt>
  <%= ub.departamento.nombre if ub.departamento%> / 
  <%= ub.municipio.nombre if ub.municipio%> /
  <%= ub.clase.nombre if ub.clase%>
  </p></tt></p>
<% end %>
<p><tt>
<table>
 Memo:
  <tr><td><tt>
        <%= @caso.memo %>
  </tt></td></tr>
</table>
<p><tt>
Contexto(s): 
<% @caso.contexto.each.with_index do |co, i| %>
  <%= co.nombre if co.nombre %>
  <% next if i== @caso.contexto.size-1 %>
  ,
<% end %></p></tt>
<p><tt>
Frontera(s): 
<% @caso.frontera.each.with_index do |fr, i| %>
  <%= fr.nombre if fr.nombre %>
  <% next if i== @caso.frontera.size-1 %>
  /
<% end %></p></tt>
Fuentes de Prensa: 
<% fuentes = Sivel2Gen::CasoFuenteprensa.where(id_caso: @caso.id) %>
<p><tt><% fuentes.each do |fr| %>
  <%= fr.fuenteprensa.nombre if fr.fuenteprensa.nombre %>-
  <%= fr.fecha if fr.fecha %>-
  <%= fr.ubicacionfisica if fr.ubicacionfisica %>
<% end %></p></tt>
Otras fuentes Prensa: 
<% otrasfuentes = Sivel2Gen::CasoFotra.where(id_caso: @caso.id) %>
<p><tt><% otrasfuentes.each do |fr| %>
  <%= fr.nombre if fr.nombre %>-
  <%= fr.fecha if fr.fecha %>-
  <%= fr.ubicacionfisica if fr.ubicacionfisica %>
<% end %></p></tt>
<p><tt>
Presunto(s) Responsable(s): 
<% @caso.presponsable.each.with_index do |pr, i| %>
  <%= pr.nombre if pr.nombre %>
  <% next if i== @caso.contexto.size-1 %>
  ,
<% end %></p></tt>
<p><tt>
Antecedentes: 
<% @caso.antecedente.each.with_index do |co, i| %>
  <%= co.nombre if co.nombre %>
  <% next if i== @caso.antecedente.size-1 %>
  ,
<% end %></p></tt>
<p><tt>
Acto (s): 
<% @caso.acto.each do |ac| %>
  <%= ac.categoria.id if ac.categoria%> - 
  <%= ac.categoria.nombre if ac.categoria%> 
<% end %>
</p></tt>
<p><tt>
Acto(s) Colectivo(s): 
<% @caso.actocolectivo.each do |ac| %>
  <%= ac.categoria.id if ac.categoria%> - 
  <%= ac.categoria.nombre if ac.categoria%> 
<% end %>
</p></tt>
<p><tt>
Analista: 
<% @caso.usuario do |us| %>
  <%= us.nusuario if us.nombre %> - 
  <%= us. if us.categoria%> 
<% end %>
</p></tt>
<div class='row'>
  <div class='col-sm-3'>
    <a class='btn' href='<% casos_path %>'>Regresar</a>
    <a class='btn' href='<% edit_caso_path %>'>Editar</a>
  </div>
  <div class='col-sm-3'>
  </div>
  <div class='col-sm-3'>
  </div>
  <div class='col-sm-3'>
    <%= link_to 'Eliminar',  @caso,  method: :delete, data: { confirm: '¿Está seguro que desea eliminar?'}, :class=>"btn btn-danger" %>
  </div>
</div>
