<div class='control-group nested-fields ubicacion'>
  <div class="controls">

    <div class="row">
      <div class="col-md-6">
        <% idpais = f.object.pais_id ? f.object.pais_id : Msip.paisomision %>
        <%= f.association :pais,
          collection: Msip::Pais.where(fechadeshabilitacion: nil).order(:nombre),
          label_method: :nombre,
          value_method: :id,
          selected: idpais
           %>
      </div>
      <div class="col-md-6">
        <%= f.association :departamento,
          collection: (Msip::Departamento.where(
           pais_id: idpais, 
            fechadeshabilitacion: nil).order(:nombre)),
          label_method: :nombre,
          value_method: :id %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.association :municipio,
          collection: (Msip::Municipio.where(
            departamento_id: f.object.departamento_id,
            fechadeshabilitacion: nil).order(:nombre)),
          label_method: :nombre,
          value_method: :id %>
      </div>
      <div class="col-md-6">
        <%= f.association :clase,
          collection: (Msip::Clase.where(
            municipio_id: f.object.municipio_id,
            fechadeshabilitacion: nil).order(:nombre)),
          label_method: :nombre,
          value_method: :id %>
        <%= f.input :tclase, 
          readonly: true %> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <%= f.input :lugar %>
      </div>
      <div class="col-md-5">
        <%= f.input :sitio %>
      </div>
      <div class="col-md-2">
        <%= f.input :principal, 
          as: :boolean, 
          #label: false,
          input_html: { }
        %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.association :tsitio,
          collection: Msip::Tsitio.where(
            fechadeshabilitacion: nil).order(:nombre),
          label_method: :nombre, 
          value_method: :id,
          include_blank: false %>
      </div>
      <div class="col-md-4">
        <%= f.input :latitud %>
      </div>
      <div class="col-md-4">
        <%= f.input :longitud %>
      </div>
    </div>
		<%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar " + 
      Msip::Ubicacion.human_attribute_name("Ubicacion"), f, {
        class: 'btn btn-sm btn-danger', 
        'data-existing': 'true',
        style: 'margin-bottom: 1em'
      } 
    %> 
	</div>
</div>
