<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.association :pais,
      collection: Sivel2Gen::Pais.where(fechadeshabilitacion: nil).order(:nombre),
      label: "País",
      label_method: :nombre,
      value_method: :id 
    %>
    <%= f.association :departamento,
      collection: (Sivel2Gen::Departamento.where(id_pais: f.object.id_pais, 
                                                 fechadeshabilitacion: nil).order(:nombre)),
      label: "Estado/Departamento",
      label_method: :nombre,
      value_method: :id 
    %>
    <%= f.association :municipio,
      collection: (Sivel2Gen::Municipio.where(id_pais: f.object.id_pais, 
                                              id_departamento: f.object.id_departamento,
                                              fechadeshabilitacion: nil).order(:nombre)),
      label: "Municipio",
      label_method: :nombre,
      value_method: :id 
    %>
    <%= f.association :clase,
      collection: (Sivel2Gen::Clase.where(id_pais: f.object.id_pais, 
                                          id_departamento: f.object.id_departamento, 
                                          id_municipio: f.object.id_municipio,
                                          fechadeshabilitacion: nil).order(:nombre)),
      label: "Centro Poblado",
      label_method: :nombre,
      value_method: :id 
    %>
    <%= f.input :lugar %>
      <%= f.input :sitio %>
      <%= f.input :latitud%>
      <%= f.input :longitud%>
      <%= f.association :tsitio,
        collection: Sivel2Gen::Tsitio.where(fechadeshabilitacion: nil).order(:nombre),
        label: "Tipo de Sitio",
        label_method: :nombre, 
        value_method: :id,
        include_blank: false
      %>
      <%= f.input :id, as: :hidden %>
        <%= link_to_remove_association "Eliminar " + 
          Sivel2Gen::Ubicacion.human_attribute_name("Ubicacion"), f, 
          {:class => 'btn-danger', :'data-existing' => 'true'} 
        %> 
      </div>
</div>
