<div class='control-group nested-fields ubicacion'>
  <div class="controls">

    <div class="row">
      <div class="col-md-6">
        <%= f.association :pais,
          collection: Sip::ModeloHelper.opciones_tabla_basica(
            Sip::Pais, f, :pais
          ),
          label_method: :nombre,
          value_method: :id
        %>
      </div>
      <div class="col-md-6">
        <% cold = Sip::ModeloHelper.opciones_tabla_basica(
          Sip::Departamento.where(id_pais: f.object.id_pais), 
          f, :departamento)
        %>
      <%= f.association :departamento,
        collection: cold,
        label_method: :nombre,
        value_method: :id %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <% colm = Sip::ModeloHelper.opciones_tabla_basica(
          Sip::Municipio.where(id_departamento: f.object.id_departamento), 
          f, :municipio)
        %>
      <%= f.association :municipio,
        collection: colm,
        label_method: :nombre,
        value_method: :id %>
      </div>
      <div class="col-md-6">
        <% colc = Sip::ModeloHelper.opciones_tabla_basica(
          Sip::Clase.where(id_municipio: f.object.id_municipio), 
          f, :clase) 
        %>
      <%= f.association :clase,
        collection: colc,
        label_method: :nombre,
        value_method: :id %>
      <%= f.input :tclase, 
        readonly: true %> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <%= f.input :lugar %>
      </div>
      <div class="col-md-5">
        <%= f.input :sitio %>
      </div>
      <div class="col-md-2">
        <%= f.input :principal, 
          as: :boolean, 
          #label: false,
          input_html: { }
        %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.association :tsitio,
          collection: Sip::ModeloHelper.opciones_tabla_basica(
            Sip::Tsitio, f, :tsitio
          ),
          label_method: :nombre, 
          value_method: :id,
          include_blank: false %>
      </div>
      <div class="col-md-4">
        <%= f.input :latitud %>
      </div>
      <div class="col-md-4">
        <%= f.input :longitud %>
      </div>
    </div>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar " + 
      Sip::Ubicacion.human_attribute_name("Ubicacion"), f, 
      {:class => 'btn-danger', :'data-existing' => 'true'} 
    %> 
  </div>
</div>
