<div class='control-group nested-fields ubicacion' data-controllers="msip--geodep">
  <div class="controls">

    <div class="row">
      <div class="col-md-6">
        <% idpais = f.object.pais_id ? f.object.pais_id : Msip.paisomision %>
        <%= f.association :pais,
          collection: Msip::Pais.where(fechadeshabilitacion: nil).order(:nombre),
          input_html: {
            class: "tom-select",
            data: {
              action: "change->msip--geodep#cambiar_pais"
            }
          },
          label_method: :nombre,
          selected: idpais,
          value_method: :id %>
      </div>
      <div class="col-md-6">
        <%= f.association :departamento,
          collection: (
            Msip::Departamento.where(
              pais_id: idpais, 
              fechadeshabilitacion: nil).order(:nombre)
          ),
          input_html: {
            class: "tom-select",
            data: {
              action: "change->msip--geodep#cambiar_departamento",
              "msip--geodep-target": "departamento"
            }
          },
          label_method: :nombre,
          value_method: :id %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.association :municipio,
          collection: (
            Msip::Municipio.where(
              departamento_id: f.object.departamento_id,
              fechadeshabilitacion: nil).order(:nombre)
          ),
          input_html: {
            class: "tom-select",
            data: {
              action: "change->msip--geodep#cambiar_municipio",
              "msip--geodep-target": "municipio"
            }
          },
          label_method: :nombre,
          value_method: :id %>
      </div>
      <div class="col-md-6">
        <%= f.association :centropoblado,
          collection: (
            Msip::Centropoblado.where(
              municipio_id: f.object.municipio_id,
              fechadeshabilitacion: nil).order(:nombre)
          ),
          input_html: {
            class: "tom-select",
            data: {
              action: "change->msip--geodep#cambiar_centropoblado",
              "msip--geodep-target": "centropoblado"
            }
          },
          label_method: :nombre,
          value_method: :id %>
        <%= f.input :tcentropoblado, 
          readonly: true %> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <%= f.input :lugar,
          label:  "Barrio/Vereda" %>
      </div>
      <div class="col-md-5">
        <%= f.input :sitio,
          label: "Dirección/Finca" %>
      </div>
      <div class="col-md-2">
        <%= f.input :principal, 
          as: :boolean, 
          #label: false,
          input_html: { }
        %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.association :tsitio,
          collection: Msip::Tsitio.where(
            fechadeshabilitacion: nil).order(:nombre),
          label_method: :nombre, 
          value_method: :id,
          include_blank: false %>
      </div>
      <div class="col-md-4">
        <%= f.input :latitud %>
      </div>
      <div class="col-md-4">
        <%= f.input :longitud %>
      </div>
    </div>
		<%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar " + 
      Msip::Ubicacion.human_attribute_name("Ubicacion"), f, {
        class: 'btn btn-sm btn-danger', 
        'data-existing': 'true',
        style: 'margin-bottom: 1em'
      } 
    %> 
	</div>
</div>
