<%= turbo_frame_tag "victima_#{f.index}" do %>
<div class='control-group nested-fields seccionvictima'>
  <div class="controls">
    <%= f.input :id, as: :hidden %>
    <% if f.object.persona.nil? %>
      <% f.object.persona = Msip::Persona.new %>
    <% end %>
    <%= render partial: 'sivel2_gen/casos/contacto_campos', locals: {f: f, index_vic: index_vic} %>
    <div style='margin-bottom: 1em'>
      <%= link_to t('Crea Copia'), '#',
        class: 'btn btn-sm',
        onclick: 'Sivel2Gen__Motor.crearCopiaDeVictima(this, event)' %>

      <%= f.submit "Eliminar", 
        formaction: sivel2_gen.eliminar_victima_path(
           index: f.index, id: f.object.id),
        formmethod: :delete,
        formnovalidate: true,
        class: 'btn btn-sm btn-danger',
        data: { 
          turbo_frame: "victima_#{f.index}",
          disable_with: false
        } %>
    </div>
  </div>
</div>
<% end %>
