<h1> Importar Relatos XRLAT</h1>
<div class="form-group">
  <%= form_tag importa_casos_path, multipart: true do %>
    <h5>Archivos con relatos</h5>
    <%= file_field_tag :arc %>
    <br>
    <br>
    <h5>Seleccione el formato para sexo de personas del archivo:</h5>
    <%= radio_button_tag :formatosexo, "sexomfs", checcked: true %>
    <%= label_tag :age_sexomfs, "Masculino-Femenino-Sin Información" %>
    <br>
    <%= radio_button_tag :formatosexo, "sexohms" %>
    <%= label_tag :age_sexohms, "Hombre-Mujer-Sin Información" %>
    <br>
    <br>
    <p> Sólo son soportados los formatos presentes </p>
    <!--br>

    <h5>Buscar víctimas y grupos en otros casos</h5>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Intensivo. Requiere memoria y disco proporcional al número de casos en la base.
      </label>
    </div-->
    <%= submit_tag "Importar",
      'data-turbo' => false %>
  <% end %>
</div>      
