<%- model_class = Sivel2Gen::Caso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= simple_form_for :filtro, 
  { remote: true, 
    url: sivel2_gen.casos_path, 
    method: "get" } do |f| 
%>
  <div class="container">
    <div class="row align-items-center">
      <div class="offset-md-0 col-md-1"> 
        <% if @conscaso.size > 0 && current_usuario &&
            can?(:new, Sivel2Gen::Caso) %>
          <%= link_to t('.new', :default => t("helpers.links.new")),
            sivel2_gen.new_caso_path,
            :class => 'btn btn-primary' 
          %>
        <% end %>
      </div>
      <div class="offset-md-3 col-md-1"> 
        Casos: <span id="numconscaso"><%= @conscaso.count %></span>
      </div>
      <div class="offset-md-2 col-md-2"> 
        <%= f.input :q,
          label: false,
          placeholder: 'Búsqueda aproximada'
        %>
      </div>
      <div class="col">
        <button type='buton' 
                class="btn btn-default btn-sm float-end" 
                role="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#filtro_avanzado" 
                aria-expanded="false" 
                aria-controls="filtro_avanzado" 
                id="boton_filtro_avanzado"> 
          Búsqueda Avanzada
        </button>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-0 col-md-12">
        <div class="collapse" id="filtro_avanzado">
          </br>
          <%= render partial: 'filtro_avanzado', locals: {f: f} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="float-end" id="botones_finfiltro"> 
          <%= f.button :submit, 'Filtrar', class: 'btn btn-default',
            'data-turbo' => false %>
          <button class="btn btn-default" type="reset">
            Limpiar
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="casos">
  <%if current_usuario %>
    <%= render 'index_tabla' %>
  <% else %>
    <% if Rails.configuration.x.sivel2_consweb_max && 
        @conscaso.count <= Rails.configuration.x.sivel2_consweb_max.to_i %>
      <%= render 'index_tabla' %>
    <% else %>
      <div class="alert alert-danger">
        <h4><strong>
            La consulta pública permite máximo 
            <%= Rails.configuration.x.sivel2_consweb_max ? 
              Rails.configuration.x.sivel2_consweb_max.to_i : 0 %> 
            registros.
          </strong></h4>
          <p>
          Puede usar el filtro de búsqueda avanzada para obtener menos 
          registros
          <%= Rails.configuration.x.sivel2_consweb_epilogo ? 
            Rails.configuration.x.sivel2_consweb_epilogo : '' %>
          </p>
      </div>
    <% end %>
  <% end %>
</div>
<% if current_usuario && can?(:new, Sivel2Gen::Caso) %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
    sivel2_gen.new_caso_path,
    :class => 'btn btn-primary' %>
<% end %>
