<%- model_class = Sivel2Gen::Caso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= simple_form_for :filtro, 
  { remote: true, 
    url: sivel2_gen.casos_path, 
    method: "get" } do |f| 
%>
  <div class="container">
    <div class="row">
      <div class="offset-md-0 col-md-1"> 
        <% if @conscaso.size > 0 && current_usuario &&
            can?(Sivel2Gen::Caso, :new) %>
          <%= link_to t('.new', :default => t("helpers.links.new")),
            sivel2_gen.new_caso_path,
            :class => 'btn btn-primary' 
          %>
        <% end %>
      </div>
      <div class="offset-md-3 col-md-1"> 
        Casos: <span id="numconscaso"><%= @conscaso.count %></span>
      </div>
      <div class="offset-md-2 col-md-2"> 
        <%= f.input :q,
          label: false,
          placeholder: 'Búsqueda aproximada'
        %>
      </div>
      <div class="offset-md-0 col-md-1"> 
        <%= f.button :submit, 'Filtrar', class: 'btn btn-default' %>
      </div>
      <div class="offset-md-0 col-md-1">
        <a class="btn btn-default btn-sm" role="button" data-toggle="collapse" 
          href="#filtro_avanzado" aria-expanded="false" 
          aria-controls="filtro_avanzado" id="boton_filtro_avanzado"> 
          Búsqueda Avanzada
        </a>
        <button class="btn btn-default btn-sm" type="reset">
          Limpiar
        </button>

      </div>
    </div>
  </div>
  <div class="collapse" id="filtro_avanzado">
    <%= render partial: 'filtro_avanzado', locals: {f: f} %>
  </div>
<% end %>

<div id="casos">
  <%if current_usuario %>
    <%= render 'index_tabla' %>
  <% else %>
    <% if @conscaso.count <= 2000 %>
      <%= render 'index_tabla' %>
    <% else %>
      <div class="alert alert-danger">
        <h4><strong>La consulta pública permite máximo 2000 registros. Puede suscribirse a SIVeL Pro si requiere más</strong></h4>
        <p>Puede usar el filtro de búsqueda avanzada para obtener menos registros</p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
  sivel2_gen.new_caso_path,
  :class => 'btn btn-primary' 
%>
