<!--
  // Mapa de casos sobre OpenStreetMap
  // Desarrollado por Luis Alejandro Cruz luisalejo@unicauca.edu.co
  // Financiado por CINEP/PPP con recursos de la Universidad de Sheffield
  // Cedido al dominio publico de acuerdo a la legislacion colombiana 
-->
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css' rel='stylesheet' />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

<style>
#div_contenido{
  --bs-gutter-x: 0rem !important;
}
</style>
<div data-controller="sivel2-gen--mapaosm" 
  data-sivel2-gen--mapaosm-usuario-autenticado="<%= current_usuario ? 'true' : 'false' %>">
  <div id="filtro-osm" class="container">
    <div class="card border-primary shadow-sm">
      <div class="card-header bg-primary text-white">
        <h6 class="card-title mb-0">Casos con actos sobre OpenStreetMap</h6>
      </div>
      <div class="card-body ">
        <div class="row p-1">
          <div class="col-12 col-md-3 shadow my-auto p-1" style="border-color: #008cba;">
            <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="card-body p-0 text-center">
                  <h4 class="mt-1" id="resumen-casos"><%= Sivel2Gen::Caso.all.count %></h4>
                  <h6 class="mt-1">Casos</h6>
                </div>
              </div>

              <!-- Card: Total de víctimas -->
              <div class="col-xl-3 col-md-6">
                <div class="card-body p-0 text-center">
                  <h4 class="mt-1" id="resumen-victimas"><%= Sivel2Gen::Victima.all.count %></h4>
                  <h6 class="mt-1">Víctimas</h6>
                </div>
              </div>

              <!-- Card: Total de victimizaciones -->
              <div class="col-xl-3 col-md-6">
                <div class="card-body p-0 text-center">
                  <h4 class="mt-1" id="resumen-victimizaciones"><%= ActiveRecord::Base.connection.execute("SELECT COUNT(*) FROM (select distinct categoria_id, persona_id, caso_id from sivel2_gen_acto) as sub").values[0][0] %></h4>
                  <h6 class="mt-1">Victimizaciones</h6>
                </div>
              </div>

              <!-- Card: Total de actos -->
              <div class="col-xl-3 col-md-6">
                <div class="card-body p-0 text-center">
                  <h4 class="mt-1" id="resumen-actos"><%= Sivel2Gen::Acto.all.count %></h4>
                  <h6 class="mt-1">Actos</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-9  my-auto">
            <form name="configuracion" onsubmit="agregarCasosOsm(true); return false;">
              <%= render :partial => "sivel2_gen/casos/filtroybotones_mapaosm" %>
            </form>
            <!-- Contenido adicional del parcial -->
              <%= render partial: 'mapaosm_masbotones' %>
            <!-- Indicador de carga -->
            <div id="cargador" style="position: absolute; margin: 0px 0px;">
              <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Cargando...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mapa-osm"></div>
  <% if current_usuario %>
    <div id="agrega-capa">
      <button id="agregar-capa" type="button" data-action="sivel2-gen--mapaosm#agregarCapaGeojson" class="btn btn-primary btn-sm">Agregar capa GeoJSON (&lt;100K)</button>
    </div>
    <div id="descarga-mapa">
      <button id="descargar-mapa" type="button" data-action="sivel2-gen--mapaosm#descargarCapaCasos" class="btn btn-primary btn-sm"><a id= "enlace-descarga">Descargar capa de casos</a></button>
    </div>
  <% end %>
</div>
<script>
  window.Sivel2Gen__ServConfig = { 
      mapaosmLatInicial: <%= ENV.fetch(
        'SIVEL2_MAPAOSM_LATINICIAL', 4.6682
      ) %>,
      mapaosmLongInicial: <%= ENV.fetch(
        'SIVEL2_MAPAOSM_LATINICIAL', 4.6682
      ) %>
  }
</script>
