<!--
  // Mapa de casos sobre OpenStreetMap
  // Desarrollado por Luis Alejandro Cruz luisalejo@unicauca.edu.co
  // Financiado por CINEP/PPP con recursos de la Universidad de Sheffield
  // Cedido al dominio publico de acuerdo a la legislacion colombiana 
-->
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css' rel='stylesheet' />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
<div id="filtro-osm">
  <div class="card border-primary">
    <div class="card-body">
      <h4 class="card-title">Filtrar Casos</h4>
      <form name="configuracion" onsubmit="agregarCasosOsm(true); return false;">
        <div class= "row">
          <div class="col-sm-2">
            <input class= "campo-mapa-osm" name="num" type="hidden" value="200" />
            <div>
              <div>Fecha:</div>
              <div>
                <input type="text" name="desde" class="campo-mapa-osm form-control seleccion-mapa-osm"
                   placeholder= "Desde" id="campo-desde"
                   data-behaviour="datepicker" value="<%= @fechadesde.to_s %>"
                   size="11"/>
              </div>
              <div>
                <input type="text" name="hasta" class="campo-mapa-osm form-control seleccion-mapa-osm"
                   placeholder= "Hasta" id="campo-hasta"
                   data-behaviour="datepicker" value="<%= @fechahasta.to_s %>"
                   size="11"/>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div>
              <div>Departamento:</div>
              <div>
                <select name="departamento" class="seleccion-mapa-osm form-control"
                  id="departamento" style="width:140px;">
                  <option value="0">Mostrar todos</option>
                  <option value="">-----------------------</option>
                  <%= options_for_select(Sip::Departamento.habilitados.where(id_pais: 170).all.collect { |d| [d.nombre, d.id ] })
                %> 
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div>
              <div>P. Responsable:</div>
              <div>
                <select name="prresp" class="seleccion-mapa-osm form-control" id="presponsable" style="width:150px;">
                  <option value="0">Mostrar todos</option>
                  <option value="">-----------------------</option>
                  <%= options_for_select(Sivel2Gen::Presponsable.all.collect { |d| [d.nombre, d.id ] }) %>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div>
              <div>Violencia:</div>
              <div>
                <select name="tvio" class="seleccion-mapa-osm form-control" id="tvio" style="width:150px;">
                  <option value="0">Mostrar todos</option>
                  <option value="">-----------------------</option>
                  <%= options_for_select(Sivel2Gen::Categoria.all.collect { |d|
                    [d.presenta_con_codigo, d.id ] }.sort)%>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-6">
                <div class="alert alert-success" role="alert">
                  <span class="nrcasos" id="nrcasos"></span>
                </div>
              </div>
              <div class="col-sm-6">
                <button id="agregar-casos-osm" type="button" class="btn btn-primary">Filtrar</button>
                <div id="cargador" class="spinner-border text-secondary" role="status">
                  <span class='sr-only'>Cargando...</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="mapa-osm"></div>
<% if current_usuario %>
  <div id="agrega-capa">
    <button id="agregar-capa" type="button" class="btn btn-primary btn-sm">Agregar capa GeoJSON (&lt;100K)</button>
  </div>
  <div id="descarga-mapa">
    <button id="descargar-mapa" type="button" class="btn btn-primary btn-sm"><a id= "enlace-descarga">Descargar capa de casos</a></button>
  </div>
<% end %>

<script>
  presentarMapaOsm()
</script>
