<div>
  <% if current_usuario %>
    <%= render :partial => 'reportegeneral', locals: {caso: @caso} %>

    <% if  controller.registrar_en_bitacora %>
      <div class="bitacora">
        <%= render partial: 'resumen_registros_bitacora' %>
      </div>
    <% end %>

  <% else %>
    <%= render :partial => 'reporterevista', locals: {caso: @caso} %>
  <% end %>
  <div class='row'>
    <div class='col-sm-3'>
      <% if can? :index, Sivel2Gen::Caso %>
        <a class='btn' href='<%= casos_path %>'>Regresar</a>
      <% end %>
      <% if can? :edit, @caso %>
        <a class='btn' href='<%= edit_caso_path %>'>Editar</a>
      <% end %>
    </div>
    <div class='col-sm-3'>
    </div>
    <div class='col-sm-3'>
    </div>
    <div class='col-sm-3'>
      <% if can? :destroy, @caso %>
        <%= link_to 'Eliminar',  @caso,  method: :delete, data: { confirm: '¿Está seguro que desea eliminar?'}, :class=>"btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
