<table class="table table-striped table-bordered" border='1'>
  <thead>
    <tr>
      <th><%= Sivel2Gen::Acto.human_attribute_name(:presponsable) %></th>
      <th><%= Sivel2Gen::Acto.human_attribute_name(:categoria) %></th>
      <th><%= Sivel2Gen::Acto.human_attribute_name(:victima) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  <% if @caso && @caso.acto %>
    <% @caso.acto.try(:each) do |acto| %>
      <tr>
        <td><%= acto.presponsable.nombre %></td>
        <td><%= acto.categoria.supracategoria.id_tviolencia + acto.categoria.id.to_s + ' ' + acto.categoria.nombre %></td>
        <td>
          <%if acto.persona.nombres == 'N' && acto.persona.apellidos == 'N' %>
            <%= acto.persona.sin_identificacion %>
          <% else %> 
            <%= acto.persona.nombres + ' ' + acto.persona.apellidos %>
          <% end %> 
        </td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            '#',
            'data-eliminaracto'  => "#{acto.id}",
            :class => 'btn btn-sm btn-danger eliminaracto' 
          %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>


